.preloader{
display:block;
position:fixed;
z-index:9999;
top:0;
right:0;
height:64px;
width:64px;
border:1px solid #EEEEEE;
background:url("../assets/images/Preloader_2.gif") no-repeat;
}

#main-wrapper{
margin-top:1%;
width:1000px;
}

.menu ul li{
list-style:none;
}

.menu{
border-bottom:1px solid #ccc;
}

.menu ul,
.menu ul li{
padding:0;
margin:0;
}

.menu ul li{
display:inline-block;
padding:10px;
}

.menu ul li a{
color:#666;
}

.menu ul li.active a{
color:#fff;
background:#00B279;
padding:3px;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; /* future proofing */
-khtml-border-radius: 3px; /* for old Konqueror browsers */
}

.pad10{
padding:10px 15px;
}
.block{
display:block;
}

.inlineblock{
display:inline-block;
}

.pad5{
padding:5px 10px;
}

.padtop10{
padding-top:10px;
}

.remove_row,
.add_new_row
{
color:#666;
font-size:25px;
}
.add_new_row{
font-size:15px;
}
.clear{
clear:both;
}
.numeric_only{
width:150px;
}
.assign-value-wrap{
margin-left:40px;
}

label{
font-weight:normal;
}

#chosen-field input[type="text"]{
height:auto;
}