/*

EDITED BY- SIDDHARTHA GUPTA

DESIGNATION- UI/UX DEVELOPER

COMPANY- SYNTHIA SOFTWARE PVT LTD

*/

@font-face{
  src:url(../fonts/Quicksand-Regular.ttf);
  font-family:"quick-reg";
}


@font-face{
  src:url(../fonts/Quicksand-Bold.ttf);
  font-family:"quick-bold";
}
div{display:block;}
body{font-family:'quick-reg';}
h1,h2,h3,h4,h5,h6{font-family: 'quick-bold';}
body a:hover{text-decoration:none;cursor:pointer;}
body a:active{text-decoration:none;}
body a:focus{text-decoration:none;}
.overflow{overflow: hidden !important;}
body button{border-radius:2px;}
.mar-bot3{margin-bottom:3%;}
.mar-top2{margin-top:2%;}
.mar-top1{margin-top:1%;}
.mar-bot1{margin-bottom: 1%;}
.gray{color:#ccc;}
.bg-white{background: #ffffff;}
.white{color:#fff;}
.no-padding{padding:0;}
.width33{width:33%;display: inline-block;}
.bold{font-weight: 600;}
.foc{
	color:#767676;
}

body.no-overflow{overflow: hidden;}

.font13{font-size: 13px !important;}

.mar-bot5{margin-bottom: 5px;}

.no-margin{margin: 0;}

.capitalize{text-transform: capitalize;}

.color-orange{color:#F36F39;}

.btn-hover:hover{
  border:1px solid #F36F39;
  color:#F36F39;
  background: transparent;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;}

.btn-hover{
  border:1px solid #F36F39;
  color:#fff;
  background: #F36F39;
  padding:5px 25px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.description-page .searchbar{display: none;}

#reviewform{margin-top: 15px;}

.but {
    background: #F37137;
    color: #fff;
    border:1px solid transparent;
    padding: 3px 20px;
    border-radius: 4px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
}

.but:hover {
    background: #FFF;
    color: #F37137;
    border: 1px solid #F37137;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;

}

.btn-hover-orange{
  border:1px solid #F36F39;
  color:#F36F39;
  background: transparent;
  padding:5px 25px;
  margin-bottom:15px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;}

.btn-hover-orange:hover{
  border:1px solid #F36F39;
  color:#fff;
  background: #F36F39;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}




/******* POPUPS *******/

#dealsModal #get_a_code:hover{
  border:1px solid #F36F39;
  color:#F36F39;
  background: #FFF;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

#dealsModal #get_a_code{
  border:1px solid #F36F39;
  color:#fff;
  background: #F36F39;
  padding: 7px 20px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

#dealsModal .modal-body{padding-bottom:0px;}

#dealsModal .deal-content{font-size: 12px;color:#555;}
#dealsModal .deal-heading{margin-bottom:5px;color:#000;font-weight:bold;}

#dealsModal .success-msg{padding:15px;color:green;display: none;}
#dealsModal .success-msg p{color:#F36F39;}

#dealsModal .deal-list {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #999;
}

#dealsModal .panel{margin-bottom: 0;border-color:transparent;}
#dealsModal .panel .panel-body{padding:0;}

#dealsModal .panel .panel-footer {
    font-size: 12px;
    padding: 6px 15px;
}

#dealsModal .modal-footer{padding: 10px;}

.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}

.login-tab {
	margin: 0 auto;
	max-width: 380px;
}

.login-modal-header {
	background: #111;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color: #fff;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 340px;
}

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}

.locationpopup{
  position: fixed;
  height:400px;
  background: #fff;
  top:-400px;
  z-index: 24;
  width:100%;
  padding:30px 100px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.blur{background: rgba(0,0,0,.8);width:98.8vw;height:100vh;position: fixed;top:0;display: none;z-index: 21;}

.locationpopup.open{
  top:0px !important;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.location-feild{height:40px;}
.locationpopup ul{padding-left:0px;list-style-type:none;margin-top:3%;}
.locationpopup ul li{display:inline-block;margin-bottom: 15px;}
.locationpopup ul li a{padding:6px 0px;margin:0 10px;}
.locationpopup h2{color:#555;margin-bottom:5%;}
.locationpopup h3{color:#555;font-weight:600;margin-top:3%;}
.close-location{font-size:25px;color:#888;cursor:pointer;position: absolute;right:20px;top:20px;}
.locationpopup img{width:120px;display:none;}

/********* POPUPS ENDS HERE *********/

/****** HEADER ******/
.top-header{background:#555;}
.top-header ul{
  list-style-type:none;
  padding-left:0;
  margin-top: 10px;
}
.top-header ul li{
  color:#ccc;
  display:inline;
  padding:10px 0px 10px 10px;
}

.leftlogo{width:96% !important;}
.header-2{position: fixed;top:0;width:100%;z-index: 22;}

.site-logo{width:65%;}

.searchbar {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color:#ccc;
    font-size: 16px;
    background-color: transparent;
    background-image: url('/assets/images/search-icon.png');
    background-position: 5px 7px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 35px;
    margin-top:12px;
}

.ss_fail {
    color: crimson;
    padding-bottom: 14px;
}

.ss_success {
    color: green;
    padding-bottom: 14px;
}


.nav-main{
  list-style-type:none;
  padding-left:0
  ;margin-top: 20px;
}

.header-2 .main-header{
  z-index: 20;
  top:0;
  background: #000;
  width:100%;
}

.header-2 .nav-main li a {
    color: #fff;
    font-family: 'quick-bold';
    padding: 15px 10px;
}

.top-header ul{margin-right: 23px;}

.main-header.sticky{
  display:none;
  z-index: 20;
  position:fixed;
  top:0;
  background: #000;
  width:100%;
}
.main-header.sticky .nav-main li a{
  color:#fff;
  font-weight:600;
}

#pub-finder .easy-autocomplete{width:auto !important;}

.main-header.sticky .nav-main li a:hover{
  text-decoration: none;
  color:rgb(243,111,57);
  transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
}

.main-header.sticky .nav-main-xs{
  list-style-type:none;
  padding-left:0;
  margin-top: 20px;
}
.main-header.sticky .nav-main-xs li{display:inline;}
.main-header.sticky .nav-main-xs li a{
  color:#fff;
  padding:15px 10px;
  font-weight:500
  ;font-size:18px;
}
.main-header.sticky .nav-main-xs li a:hover{
  text-decoration: none;
  color:rgb(243,111,57);
  transition: all .4s ease-in;
}

.nav-main li{display:inline;}
.nav-main li a{
  color:#555;
  padding:15px 9px;
  font-weight:500;
}
.nav-main li a:hover{
  text-decoration: none;
  color:rgb(243,111,57);
  transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
}
.nav-main-xs{
  list-style-type:none;
  padding-left:0;
  margin-top: 20px;
}
.nav-main-xs li{display:inline;}
.nav-main-xs li a{color:#555;
  padding:15px 10px;
  font-weight:500
  ;font-size:18px;
}
.nav-main-xs li a:hover{
  text-decoration: none;
  color:rgb(243,111,57);
  transition: all .4s ease-in;
}

/******** HEADER ENDS HERE **********/

/******** BANNER CSS **********/

.banner{
  height:400px;
  background:linear-gradient( to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) ,  rgba(0, 0, 0, 0) url("images/banner.jpg") no-repeat scroll center center / cover ;
}

.banner1{
  height:400px;
  background:linear-gradient( to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) ,  rgba(0, 0, 0, 0) url("images/dj-banner.jpg") no-repeat scroll center center / cover ;
}

.common-banner{
  height:250px;
  /*background:linear-gradient( to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) ,  rgba(0, 0, 0, 0) url("images/dj-banner.jpg") no-repeat scroll center center / cover ;*/
}

.toggle-link {
    border: 1.5px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
}

.toggle-link:hover {
    border-color:#F36F38;
    color: #F36F38;
    transition: all .3s ease-in;
}

.toggle-link:active {
    border-color:#F36F38;
    color: #F36F38;
}
.toggle-link:focus {
    border-color:#F36F38;
    color: #F36F38;
}
.toggle-btns{margin-top:10%;}

.happy-hrs-form input{margin-top:10px;border-radius:4px;}
.happy-hrs-form button{
  background:rgb(243,110,57);
  border-color:transparent;
  color:#fff;
  font-weight:600;
  border-radius:4px;
  margin-top:10px
 }
.happy-hrs-form button img{width:25px;margin-top:-5px;margin-left: 10px;}
.happy-hrs-form .col-sm-3.col-xs-6{padding-left: 5px;padding-right: 5px;}
.happy-hrs-form p a{color:#fff;}
.happy-hrs-form p{padding-top: 20px;}
.pub-finder-form .col-sm-9.col-xs-8{padding-left: 5px;padding-right: 0px;}
.pub-finder-form p a{color:#fff;}
.pub-finder-form p{padding-top: 20px;}
.pub-finder-form input{
  margin-top:10px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}
.pub-finder-form button{
  background:rgb(243,110,57);
  border-color:transparent;
  color:#fff;
  font-weight:600;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  margin-top:10px;
 }
 .pub-finder-form1 .col-sm-9.col-xs-8{padding-left: 5px;padding-right: 0px;}
.pub-finder-form1 p a{color:#fff;}
.pub-finder-form1 p{padding-top: 20px;}
.pub-finder-form1 input{
  margin-top:10px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}

 .pub-finder-form1 button{
  background:rgb(243,110,57);
  border-color:transparent;
  color:#fff;
  font-weight:600;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  margin-top:10px;
 }

option.oldt {
    color: rgba(128, 128, 128, 0.49);
}

 .pub-finder-form1 button img{width:25px;margin-top:-5px;margin-left: 10px;}

.color-orange{color:#F36F39 !important;border-color:#F36F39 !important;}
 .pub-finder-form button img{width:25px;margin-top:-5px;margin-left: 10px;}


.pub-finder-form .col-sm-3.col-xs-4{padding-left:0px;}
.pub-finder-form1 .col-sm-3.col-xs-4{padding-left:0px;}


.pub-finder-form{display:none;}
#pub-finder-text{display:none;}
.translucent{
   color:#fff;
   padding:20px;
   text-align:center;
   font-size:30px;
   margin-top:2%;
   font-weight:600;
 }

/********** BANNER ENDS HERE *********/


/******** ICONS *********/

 .icons ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 17.5%;
    padding: 10px 20px;
    text-align: center;
    width: 65%;

}

.icons ul li{display:inline-block;width:19%;}

.icons ul li img{
  width:35%;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}

.icons ul li img:hover {
  transform: scale(1.3);
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}

.icons ul li p{color:#555;margin-top:10px;font-weight:600;font-size: 12px;}

/******** ICONS ENDS HERE *********/


/********* GRID STARTS HERE ********/

.grid img {
  width:100%;
  -webkit-filter: brightness(100%); /* Safari 6.0 - 9.0 */
  filter: brightness(100%);
  -moz-filter: brightness(100%);
  height:250px;
  overflow:hidden;
}


.grid {
    background: #111 none repeat scroll 0 0;
    padding-top:30px;
    padding-bottom:30px;
}

.grid .name{
  position: absolute;
  font-size: 40px;
  color:#fff;
  top:27%;
  text-align: center;
  width: 92.7%;
  transition:all .4s;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  -ms-transition:all .4s;
}

.hovereffect:hover img {
  -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%);
  -moz-filter: brightness(50%);
  transition:all .4s;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  -ms-transition:all .4s;
}

.hovereffect{overflow:hidden;height:250px;margin-bottom: 20px;}

.hovereffect .overlay{
  position:absolute;
  bottom:-80px;
  width: 93%;
  height:80px;
  padding:10px 10px;
  text-align: center;
  transition:all .4s;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  -ms-transition:all .4s;
}
.hovereffect:hover .overlay{
  bottom:70px;
  transition:all .4s;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  -ms-transition:all .4s;
}

.hovereffect:hover .name{
  font-size: 30px;
  top:10%;
  /*background: rgba(0,0,0,.8);*/
  transition:all .4s;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  -ms-transition:all .4s;
}

#parallax-wrap1{height:320px;}

  .grid1{background: #222;padding:30px 0px;}
  .outline{border:2px solid #f37038;}
  .grid1 div{padding-left: 0;padding-right: 0;overflow: hidden;}
  .name1{
    color:#fff;
    background: rgba(0,0,0,.75);
    position: absolute;
    padding:5px 15px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }
  .ehh{
    color:#fff;
    border: 3px solid #fff;
    padding:5px 10px;
    font-weight: 600;
    position: absolute;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .ehh:hover , .name1:hover{color:#fff;}

  .deal1:visited , .deal1:focus{color:#555 !important;}

  .deal1{
    color:#333;
    background: #fff;
    padding: 5px 10px;
    float:right;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }
  .deal1:hover{
    background:#000;
    color:#fff;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
   }

  .hovereffect1 {
  background: rgba(0, 0, 0, 0) url("images/img1.jpg") no-repeat scroll center center / cover;
  height:400px;
  margin-right:5px;
  margin-top: 10px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect1:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/img1.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

   .hovereffect1 .name1{
    left:28%;
    top:38%;
    font-size: 40px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect1 .deal1{font-size: 18px;}

  .hovereffect1 .ehh{
    left:16%;
    bottom:-50px;
    font-size: 18px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect1:hover .ehh{
    bottom:44%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect1:hover .name1{
    top:27%;
    left:33%;
    font-size: 30px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect2 {
  background: rgba(0, 0, 0, 0) url("images/img2.jpg") no-repeat scroll center center / cover;
  height:195px;
  margin-left:5px;
  margin-right:5px;
  margin-top: 10px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect2:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/img2.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

   .hovereffect2 .name1 , .hovereffect3 .name1{
    left:7px;
    top:12px;
    font-size: 25px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .grid1 a:visited{color:#fff;}
  .grid1 a:focus{color:#fff;}
  .grid1 a:active{color:#fff;}

  .grid a:visited{color:#fff;}
  .grid a:focus{color:#fff;}
  .grid a:active{color:#fff;}

  .hovereffect2 .deal1 , .hovereffect3 .deal1{font-size: 15px;}

  .hovereffect2 .ehh , .hovereffect3 .ehh{
    left:16%;             
    bottom:-50px;
    font-size: 13px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect2:hover .ehh , .hovereffect3:hover .ehh{
    bottom:25%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect2:hover .name1{
    top:32%;
    left:34%;
    font-size: 20px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }


  .hovereffect3 {
  background: rgba(0, 0, 0, 0) url("images/img3.jpg") no-repeat scroll center center / cover;
  height:195px;
  margin-left:5px;
  margin-top: 10px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

.hovereffect3 .deal1 {
    font-size: 15px;
    margin-right: 0;
}

.hovereffect3:hover .name1 {
    font-size: 20px;
    left: 29%;
    top: 32%;
    transition: all 0.4s ease 0s;
}

  .hovereffect3:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/img3.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect4 {
  background: rgba(0, 0, 0, 0) url("images/img4.jpg") no-repeat scroll center center / cover;
  height:195px;
  margin-top: 10px;
  margin-left:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect4:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/img4.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect4 .name1{
   left:29%;
   top:19%;
   font-size: 30px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect4:hover .name1{
   top:20%;
   left:33.5%;
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect4 .deal1{font-size: 15px;margin-right: 0;}

 .hovereffect4 .ehh{
   left:28%;
   bottom:-50px;
   font-size: 14px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect4:hover .ehh{
   bottom:34%;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

  .hovereffect5 {
  background: rgba(0, 0, 0, 0) url("images/img5.jpg") no-repeat scroll center center / cover;
  height:200px;
  margin-top: 10px;
  margin-right:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect5:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/img5.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect5 .name1{
   left:2px;
   top:12px;
   font-size: 25px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect5:hover .name1{
   top:32%;
   left:32.5%;
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect5 .deal1{font-size: 15px;}

 .hovereffect5 .ehh , .hovereffect6 .ehh , .hovereffect7 .ehh{
   left:18%;
   bottom:-50px;
   font-size: 13px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect5:hover .ehh , .hovereffect6:hover .ehh , .hovereffect7:hover .ehh{
   bottom:25%;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

  .hovereffect6 {
  background: rgba(0, 0, 0, 0) url("images/img6.jpg") no-repeat scroll center center / cover;
  height:200px;
  margin-top: 10px;
  margin-left:5px;
  margin-right:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect6:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/img6.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect6 .name1{
   left:7px;
   top:12px;
   font-size: 25px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect6:hover .name1{
   top:32%;
   left:29%;
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

  .hovereffect7 {
  background: rgba(0, 0, 0, 0) url("images/img7.jpg") no-repeat scroll center center / cover;
  height:200px;
  margin-top: 10px;
  margin-left:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect7:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/img7.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect7 .name1{
   left:7px;
   top:12px;
   font-size: 25px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect7:hover .name1{
   top:32%;
   left:40%;
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect7 .deal1{font-size: 15px;margin-right:15px;}



/*DJ MAIN PAGE */

.hovereffect1_dj {
  background: rgba(0, 0, 0, 0) url("images/dj-1.jpg") no-repeat scroll center center / cover;
  height:400px;
  margin-right:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect1_dj:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/dj-1.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

   .dj_grid .hovereffect1 .name1{
    top:12px;
    left:2px;
    font-size: 30px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .dj_grid .hovereffect1 .deal1{font-size: 18px;}

  .hovereffect1_dj .ehh{
    left:23%;
    bottom:-50px;
    font-size: 18px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect1_dj:hover .ehh{
    bottom:44%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .dj_grid .hovereffect1:hover .name1{
    font-size: 25px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect2_dj {
  background: rgba(0, 0, 0, 0) url("images/dj-2.jpg") no-repeat scroll center center / cover;
  height:195px;
  margin-left:5px;
  margin-right:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect2_dj:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/dj-2.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

   .dj_grid .hovereffect2 .name1 , .dj_grid .hovereffect3 .name1{
    left:7px;
    top:12px;
    font-size: 25px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect2_dj .deal1 , .hovereffect3_dj .deal1{font-size: 15px;}

  .hovereffect2_dj .ehh , .hovereffect3_dj .ehh{
    left:21%;
    bottom:-50px;
    font-size: 13px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .hovereffect2_dj:hover .ehh , .hovereffect3_dj:hover .ehh{
    bottom:25%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }

  .dj_grid .hovereffect2:hover .name1{
    font-size: 20px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
  }


  .hovereffect3_dj {
  background: rgba(0, 0, 0, 0) url("images/dj-3.jpg") no-repeat scroll center center / cover;
  height:195px;
  margin-left:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

.hovereffect3_dj .deal1 {
    font-size: 15px;
    margin-right: 15px;
}

.dj_grid .hovereffect3:hover .name1 {
    font-size: 20px;
    transition: all 0.4s ease 0s;
}

  .hovereffect3_dj:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/dj-3.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect4_dj {
  background: rgba(0, 0, 0, 0) url("images/dj-4.jpg") no-repeat scroll center center / cover;
  height:195px;
  margin-top: 10px;
  margin-left:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect4_dj:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/dj-4.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .dj_grid .hovereffect4 .name1{
   left: 7px;
   top: 12px;
   font-size: 30px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .dj_grid .hovereffect4:hover .name1{
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect4_dj .deal1{font-size: 15px;margin-right: 15px;}

 .hovereffect4_dj .ehh{
   left:33%;
   bottom:-50px;
   font-size: 14px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect4_dj:hover .ehh{
   bottom:34%;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

  .hovereffect5_dj {
  background: rgba(0, 0, 0, 0) url("images/dj-5.jpg") no-repeat scroll center center / cover;
  height:200px;
  margin-top: 10px;
  margin-right:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect5_dj:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/dj-5.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .dj_grid .hovereffect5 .name1{
   left:2px;
   top:12px;
   font-size: 25px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .dj_grid .hovereffect5:hover .name1{
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect5_dj .deal1{font-size: 15px;}

 .hovereffect5_dj .ehh , .hovereffect6_dj .ehh , .hovereffect7_dj .ehh{
   left:26%;
   bottom:-50px;
   font-size: 13px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect5_dj:hover .ehh , .hovereffect6_dj:hover .ehh , .hovereffect7_dj:hover .ehh{
   bottom:25%;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

  .hovereffect6_dj {
  background: rgba(0, 0, 0, 0) url("images/dj-6.jpg") no-repeat scroll center center / cover;
  height:200px;
  margin-top: 10px;
  margin-left:5px;
  margin-right:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect6_dj:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/dj-6.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .dj_grid .hovereffect6 .name1{
   left:7px;
   top:12px;
   font-size: 25px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .dj_grid .hovereffect6:hover .name1{
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

  .hovereffect7_dj {
  background: rgba(0, 0, 0, 0) url("images/dj-7.jpg") no-repeat scroll center center / cover;
  height:200px;
  margin-top: 10px;
  margin-left:5px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .hovereffect7_dj:hover {
  background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/dj-7.jpg") no-repeat scroll center center / cover;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  }

  .dj_grid .hovereffect7 .name1{
   left:7px;
   top:12px;
   font-size: 25px;
   transition: all .4s;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .dj_grid .hovereffect7:hover .name1{
   font-size: 20px;
   transition: all .4s ease-in;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
 }

 .hovereffect7 .deal1{font-size: 15px;margin-right:0;}



/*DJ MAIN PAGE END*/



.overlay .eta{
  float: left;
  width:49%;
  color:#fff;
  border:1.5px solid #fff;
  padding:4px 10px;
  margin-right: 5px;
}

.overlay .deal{
  width:49%;
  float: left;
  color:#fff;
  border:1.5px solid #fff;
  padding:4px 10px;
}

/********* GRID ENDS HERE ********/

div#restralisting {
    margin-top: 20px;
}

/********* COUNTERS ********/
.counters{
  padding-top:3%;
  padding-bottom:3%;
  background:linear-gradient( to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , rgba(0, 0, 0, 0) url("images/banner2.jpg") no-repeat fixed center center / cover;
}

.counters p{
  color:#fff;
  font-size:17px;
  font-weight:600;
}
p.count{
  color:#fff;
  font-size:60px;
  font-weight:600;
  background:rgba(0,0,0,.5);
  margin-top:5%;
  padding-top:11%;
  padding-bottom:11%;
}

/********* COUNTERS ENDS HERE ********/

/********* FOOTER ********/

.footer{
  background:#000;
  padding-top:2%;
  padding-bottom:2%;
}
.footer img{width:100%;}
.footer-content p{color:#fff;font-size:20px;}
.footer-content input{
  height:35px;
  border-radius:4px;
  border-color:transparent;
}
.footer-content input[type="submit"]{
  height:35px;
  background: rgb(243,110,57);
  color:#fff;
  font-weight:600;
}

.footer-content input[type="submit"]:hover{
  color: rgb(243,110,57);
  background:#fff;
  transition:all 0.6s;
}
.footer-content1 ul{list-style-type:none;}
.footer-content1 ul li{display:inline;}
.footer-content1 h4{color:#fff;font-weight:600;}
.footer-content1 a{color:#fff;}
.footer-content1 a:hover{text-decoration:none;color:#F36F39;transition:all .4s;}
.footer-content1 ul li a{font-size:20px;margin-left:8px;}
.footer-content1 ul{padding-left:0px;}
.footer-content1 p{color:#fff;}

.social-wrap a i{
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 7px;
  color: #F36F39;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.social-wrap a i:hover{
  background:#F36F39;
  margin-bottom: 5px;
  color:#fff;
  transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

/********* FOOTER ENDS HERE ********/



/******* LINK HOVER EFFECTS *******/

.wrapper a,.wrapper a:visited,.wrapper a:hover,.wrapper a:active{
  -webkit-backface-visibility:hidden;
     backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#555;
	font-size:18px;
}
.wrapper a:hover{
	color:#d73444;
}
.wrapper a.before:before,.wrapper a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
.wrapper a.before:before{
  top:-0.25em;
}
.wrapper a.after:after{
  bottom:-0.25em;
}
.wrapper a.before:before,.wrapper a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:rgb(243,111,56);
}
.wrapper a.first:after{
  left:0;
}
.wrapper a.before:hover:before,.wrapper a.after:hover:after{
  width:100%;
}

/******* LINK HOVER EFFECTS ENDS HERE*******/


/********** FLASH DEALS ************/

.flash-deals-link{
  width:100px;
  position:fixed;
  right:-27px;
  bottom:46%;
  z-index: 22;
  font-weight:600;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-align:center;
  cursor:pointer;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}
.flash-deals{
  position:fixed;
  right:-400px;
  bottom:0;
  z-index: 23;
  width:400px;
  height:100vh;
  padding:5px 10px;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
  background:#000;
}

.description-page .flash-deals-link{display: none;}

.flash-deals .media-body p{margin-bottom: 4px;color:#555;font-size: 12px;}
.flash-deals .media-body span{font-size: 11px;}
.flash-deals .media-body span div{display:inline-block;}
.flash-deals .media-body p button:hover{color:#fff;background: #F36E39;transition: all .4s;}
.flash-deals .media-body{background: #fff;padding:8px;height:80px;}
.flash-deals .media-left img{width:100%;height:100px;}
.flash-deals .media-left{padding-right:0px;}
.flash-deals .media{margin-bottom: 20px; }
.flash-deals .media-body button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f36e39;
    color: #f36e39;
    font-size: 13px;
    padding: 0 10px;
    position: absolute;
    right: 7%;
    top: 53%;
    transition:all .4s;
    -moz-transition:all .4s;
    -webkit-transition:all .4s;
    -ms-transition:all .4s;
}

.flash-deals .media-body button:hover {
    background: #f36e39 none repeat scroll 0 0;
    color:#fff ;
    transition:all .4s;
    -moz-transition:all .4s;
    -webkit-transition:all .4s;
    -ms-transition:all .4s;
}

.flash-deals .white{color:#fff;}
#Layer_1{width: 12px;margin-right:3px;}


.flash-deals.show{
  right:0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}
.flash-deals-link.show{
  right:380px !important;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}
.deal-count img{width:100%;margin-bottom:15px;}

.flash-deals .success-msg{padding:5px;color:#fff;display: none;border:4px solid green;margin-bottom: 20px;}
.flash-deals .success-msg p{color:#F36F39;font-size: 12px;}
.flash-deals .close-flash{position:absolute;top:10px;right:10px;height:30px;width:30px;font-size:22px;color:#777;cursor:pointer;}

/********** FLASH DEALS ENDS HERE************/

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-color: #f36e39 !important;
    background-image: -moz-linear-gradient(top,#f36e39, #f36e39) !important;
    background-image: -ms-linear-gradient(top, #f36e39, #f36e39) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f36e39), to(#f36e39) !important);
    background-image: -o-linear-gradient(top, #f36e39, #f36e39) !important;
    background-image: linear-gradient(top, #f36e39, #f36e39) !important;
}

/*********** PRODUCT LISTING CSS ***********/
.search-heading span{color:#fff;font-size:30px;margin-right:10px;font-family: 'quick-bold';}
.search-heading{margin-bottom:0;}

.listing .product-listing{margin-top:65px;}

.product-listing{background: #111;}
.product-listing .col-lg-3{padding-left:5px;padding-right: 5px;}

.product-listing .list-row{margin-bottom: 30px;}

/*.black .list-card-body , .black .list-card-footer{background: #000;color:#fff;}*/

.list-card{
  border-radius:4px;
  margin-bottom:30px;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}
.list-card:hover{
  box-shadow:  0 0 15px #555;
  -webkit-box-shadow:  0 0 15px #555;
  -moz-box-shadow:  0 0 15px #555;
  -ms-box-shadow:  0 0 15px #555;
  margin-top: -15px;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}
.image-div1{
  height:200px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
 }


.label-success {
    font-size: 90% !important;
    margin-right: -7.25px !important;
	line-height: 1.2 !important;
}
 
 
.list-card .status-open{
   float: right;
   background: rgba(0, 128, 0,.8);
   padding:4px 7px;
   color:#fff;
   font-size:12px;
   border-top-right-radius: 4px;
   transition:all .4s;
   -moz-transition:all .4s;
   -webkit-transition:all .4s;
   -ms-transition:all .4s;
 }

 .list-card .status-close{
   float: right;
   background:#cb202d;
   padding:4px 7px;
   color:#fff;
   font-size:12px;
   border-top-right-radius: 4px;
   transition:all .4s;
   -moz-transition:all .4s;
   -webkit-transition:all .4s;
   -ms-transition:all .4s;
 }


 .list-card .deals{color:#F36E39;}

 .list-card .rating {
    position: absolute;
    padding: 4px 7px;
    color: #F36E39;
    float: right;
    bottom: 21%;
    right: 15px;
    font-size:12px;
    letter-spacing: -1px;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
}

.list-card .rating-num {
   position: absolute;
   float: right;
   bottom: 21%;
   right: 8%;
   transition: all .4s;
   -moz-transition: all .4s;
   -webkit-transition: all .4s;
   -ms-transition: all .4s;
}
.list-card .rating-num a{color: #F36E39;border:1px solid #F36E39;font-size: 12px;padding:3px 10px;font-family: 'quick-bold';}

.list-card .rating-img {
   position: absolute;
   float: right;
   bottom: 21%;
   right: 8%;
   transition: all .4s;
   -moz-transition: all .4s;
   -webkit-transition: all .4s;
   -ms-transition: all .4s;
}

.rating-img > img{
  width:12%;
}


.rating-other a {
    background: green none repeat scroll 0 0;
    border-top-right-radius: 4px;
    top:178px;
    color: #fff;
    font-size: 12px;
    left: 0;
    padding: 4px 15px;
    position: relative;
}
.status-flag{float:right}

/*.list-card-body{background: #fff;padding:7px 10px;}*/
.list-card-body{
  background: #000; 
  color:#fff;
  padding:7px 10px;
  height: 125px;
  overflow: hidden;
}

.list-card-body .rating img{width: 12px;margin-right: 2px;}

.list-card-body p{margin-bottom: 2px;font-size:11px;}
/*.list-card-body p a{color:#555}*/
.list-card-body p a{color:#fff}
.list-card-body p:first-child{font-size:13px;font-family: 'quick-bold';}
/*.list-card-footer{
  background: hsl(0,0%,95%);
  padding:7px 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top:1px solid #ccc;
}*/

.list-card-footer{
  background: #000;
  padding:7px 10px;
  color:#fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top:1px solid #ccc;
}

.list-card-footer button:hover{
  background: transparent;
  border:1px solid #F36F38;
  color:#F36F38;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}

.list-card-footer button{
  background: #F36F38;
  border:1px solid #F36F38;
  color:#fff;
  padding:0px 10px;
  width:100%;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}

/*.black .list-card-footer button{
  background: transparent;
  border:1px solid #fff;
  color:#fff;
  padding:0px 10px;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}*/

/*.black .list-card-footer button:hover{
  background: #fff;
  border:1px solid #000;
  color:#000;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}*/

/*********** IMAGE LISTING CSS ENDS HERE ***********/

/*********** FILTERS **********/

#filters_link {
    background: transparent none repeat scroll 0 0;
    border-color: transparent;
    color: #999;
    font-size: 20px;
    margin-bottom:25px;
    font-family:"quick-reg";
}

#filters_link1 {
    background: transparent none repeat scroll 0 0;
    border-color: transparent;
    color: #999;
    font-size: 18px;
    margin-bottom:25px;
    font-family:"quick-reg";
    font-weight: 600;
}

#filters_link1 i{margin-right: 5px;font-size: 17px;}

#filters_link i span{font-size:12px;}

#filters_link1 i span{font-size:12px;}

.filters{
  width:350px;
  left:-350px;
  position: fixed;
  top:0;
  height:100vh;
  background: #000;
  z-index: 24;
  overflow-y:auto;
  overflow-x: hidden;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}

.filters.show{
  left:0;
  transition:all .4s;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
}

.filters .head {
    background: #f36e39 none repeat scroll 0 0;
    color: #fff;
    float: left;
    padding-top: 7px;
    width: 100%;
    font-size:20px;
    font-family:quick-bold;
}

.filters .head a{color:#fff;font-size:15px;}

.reset {
    position: relative;
    top: 5px;
}

.filters .head i{color:#fff; font-size:15px;margin-right: 5px;}

.filters .filter .content {
    background: #fff none repeat scroll 0 0;
    margin-top: -10px;
    padding: 10px 10px 0 20px;
    display:none;
    color:#555;
    border-radius:4px;
}

.filters .filter .content:first-child {
    display:block;
}

.filters .filter p a{color:#fff;}

.filter{padding-top:53px;}

.filters .filter .filterlb {
    background: #444;
    color: #fff;
    padding: 15px 10px 4px;
    border-radius:4px;
}

.filter .content p input{float:right;width:50px;height:22px;margin-top: 8px;}

.filter .content p{margin-bottom:5px;border-bottom:1px solid #ccc;}



#close_filters{
  font-size: 15px;
  float:right;
  width:60px;
  height:37px;
  padding-top:3px;
}
/********** FILTERS CSS ENDS HERE ***********/

/******** LOADER *********/

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/Coffee-cup.gif') 50% 50% no-repeat rgb(249,249,249);
}
/********* LOADER CSS ENDS HERE *********/

/********* DESCRIPTION PAGE SLIDER **********/
.slider .carousel-inner .item{height:326px;}
.slider .carousel-inner .item1{background:url("images/pub2.jpg") no-repeat scroll center center / cover ;}
.slider .carousel-inner .item2{background:url("images/pub3.jpg") no-repeat scroll center center / cover ;}
.slider .carousel-inner .item3{background:url("images/pub1.jpg") no-repeat scroll center center / cover ;}
.slide .carousel-inner > .item > img,
.slide .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
/* .slider{margin-top:65px;} */

/********* DESCRIPTION PAGE SLIDER ENDS HERE **********/

/********* DESCRIPTION PAGE CONTENT **********/

.des-body{background: #222;color:#fff;padding-bottom:15px;margin-top: -90px;}
.des-icons img{width:30%;margin-top:15%;}
.des-icons p{margin-top:15px;}

.des-tabs {
    display:inline-block;
    margin-top: 3.5%;
}
.des-tabs .menu-tabs{position: relative;top:0;margin-bottom: 3px;overflow: hidden;background: #fff;}
.des-tabs .panel-heading{background: #222;padding:0;}
.des-tabs .panel.panel-primary{border-color:transparent;}
.des-tabs .panel.panel-primary{background: transparent;}
.des-tabs .panel-primary > .panel-heading{border-color:transparent;border:0px;background: transparent;z-index: 10;}
.des-tabs .panel.panel-primary .panel-body{background: #fff;border-radius:4px;}
.des-tabs .menu-tabs > li > a {
    line-height: .85;
    color:#fff;
    font-weight:500;
    display: block;
    padding: 14px 10px;
    -moz-transition: ease 0.35s all;
    -o-transition: ease 0.35s all;
    -webkit-transition: ease 0.35s all;
    transition: ease 0.35s all;
}

#booking_sidebar{overflow: hidden;}

.col-sm-12.col-xs-12.all-deals {
    overflow: auto;
    height: 130px;
}

#menu img {
    height: 200px;
    cursor:pointer;
}

.des-tabs .tab-pane{color: #555;}
.des-tabs .panel-body{margin-bottom: 20px;}
.des-body .rating{color:#f36e39;}
.des-tabs .tab-content .tab-pane{color:#555;}

.des-tabs .menu-tabs > li {
    float: left;
    background: -webkit-linear-gradient(to right , #f69222 , #f36d38);
    background: linear-gradient(to right , #f69222 , #f36d38);
    background: -moz-linear-gradient(to right , #f69222 , #f36d38);
    background: -ms-linear-gradient(to right , #f69222 , #f36d38);

    /*background: #f47d31;*/
    border-radius: 0;
    cursor: pointer;
    border-right: 3px solid #000;
    text-align: center;
    width: 25%;
}

.des-tabs .menu-tabs > li:last-child {
    border-right: 0;
}

.des-body .panel-tabs > li > a,
.des-body .panel-tabs > li > a:hover,
.des-body .panel-tabs > li > a:focus {
    color: #222;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

/*.des-body .panel-tabs > li.active{border-top:3px solid #f36e39;}*/

#overview h4{margin-top:0px;}
#overview .para1{padding-bottom:20px;border-bottom: 1px solid #ccc;}
#overview ul{list-style-type:none;padding-left: 0;}
#overview ul li{display:inline;padding:10px 25px;}
#overview ul li i{color:#f36e39;margin-right:5px;}
#overview p span{font-family: "quick-bold";}
#overview p{margin-bottom:0;}

#tab3{padding:0px 10px 30px 10px;}
#tab3 img{width:100%;margin-bottom: 10px;}
#tab3 h3{margin-top:0px;}

#pics {padding: 10px;}
#pics img{width:100%;}
#pics .row div{padding-left:3px;padding-right:3px;margin-bottom:6px;}
#pics h3{margin-top:0px;}

#reviews .review-btn{
  float:right;
  border:1px solid;
  border-color:transparent;
  background:#f36e39;
  color:#fff;
  padding:10px 30px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

#reviews .write-review-new{float:right;}

#reviews .review-btn:hover{
  float:right;
  border:1px solid;
  border-color:#f36e39;
  background:#fff;
  color:#f36e39;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}
#reviews h3{margin-top:0px;}
#reviews .rating-num{width:100px;}
#reviews .rating-num p{color:#555;font-size:50px;}

.des-body #reviews .rating {
    color: #f36e39;
    position: relative;
    top: -61px;
    right: -85px;
    width: 150px;
    font-size: 22px;
}
.des-body #reviews .votes {
    position: relative;
    top: -55px;
    right: -87px;
    line-height: 0.7;
    width:120px;
}

#reviews .reviews .media .media-left img{width:80px;height:80px;border-radius:50%;}
#reviews .reviews .media .media-left p{color:#999;margin-bottom:5px;font-size: 12px;text-align: center;}
#reviews .reviews .rate{padding:5px 10px;color:#fff;background: green;position: relative;}
#reviews .reviews .media{padding:15px 0;border-top:1px solid #ccc;margin-bottom:20px;}
#reviews .reviews {padding:10px;}
#reviews .reviews .comments a{color:#999;}
#reviews .reviews .comments a i{margin-right: 5px;}
.des-tabs .count {
    position: absolute;
    right: 35px;
    top: 57px;
}
.des-tabs .count a{color:#555;}

.des-tabs hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.google-map #map{width:100%;height:150px;}
.google-map{padding:10px;background: #fff;margin-top: 25px;border-radius: 4px;}
.google-map p{color:#555;font-size:12px;margin-top:10px;margin-bottom: 0px;}
.sidebar-right .ads .new-restro img{width:100%;}
.sidebar-right .ads .new-restro p:first-child{font-family: "quick-bold";font-size:17px;padding-top:20%;position: relative;bottom: -40px;}
.sidebar-right .ads .new-restro p:last-child{font-size:11px;position: relative;bottom: -30px;}
.sidebar-right .ads .new-restro p a{color:#fff;}
.sidebar-right .ads{margin-top:25px;}
.sidebar-right .ads .new-restro{background:linear-gradient(to left , rgba(0,0,0,.5) , rgba(0,0,0,.5)) , url('images/img1.jpg') no-repeat scroll center center / cover;height: 190px;padding:10px;border-radius: 4px;}

.booking-sidebar .calendar{
  margin-top:10px;
  background: #fff;
  padding:0px 15px 20px 15px;
  border-radius: 4px;
  color:#555;
}

.booking-sidebar .calendar p{color:#555;margin-bottom: 5px;font-size: 12px;}
.booking-sidebar .calendar img{width:100%;}
.booking-sidebar .calendar a button{background:#F37137 ;color:#fff;border-color:transparent;padding:10px 25px;border-radius: 4px;margin-top: 10px;}
.booking-sidebar .calendar a button:hover{background:#FFF ;color:#F37137;border:1px solid #F37137;}
.booking-sidebar p input{padding:2px 5px 2px 30px;height:30px;margin-top: 10px;}
.booking-sidebar .calendar select{padding:2px 5px 2px 25px;height:40px;}
.booking-sidebar svg{
  position: absolute;
  color:#F37137;
  top: 17px;
  left: 22px;
  width: 15px;
  height: 17px;
  z-index: 10;
}
.booking-sidebar .calendar h4{margin-top:0;padding-top:0}

.pre-order {
    background: #fff;
    padding: 0 15px 10px 15px;
    margin-top: 27px;
}

.pre-order h4 { 
    padding: 0 ;
    margin-top: 0;
}

.pre-order p{margin-bottom: 0;}

.pre-order button{margin-top: 20px;}

.booking-sidebar .book-header {
    padding: 0;
    margin-top: 0px;
    padding-top: 10px;
    color: #fff;
    background: -webkit-linear-gradient(to right , #f69222 , #f36d38);
    background: linear-gradient(to right , #f69222 , #f36d38);
    background: -moz-linear-gradient(to right , #f69222 , #f36d38);
    background: -ms-linear-gradient(to right , #f69222 , #f36d38);
}

.booking-sidebar .deal-list {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #999;
    cursor:pointer;
}

.booking-sidebar .deal-list.selected {
    border:2px solid green;
}

.booking-sidebar .panel{margin-bottom: 0;border-color:#fff; width: 100%;}
.booking-sidebar .panel .panel-body{padding:4px 8px;background: hsl(0,0%,95%);}

.booking-sidebar .panel .panel-footer {
    font-size: 12px;
    padding: 6px 15px;
}
.booking-sidebar .deal-heading{color:#000;font-weight: 600;}
.booking-sidebar .deal-content{font-size: 11px;}
.booking-sidebar #get_a_code:hover{
  border:1px solid #F36F39;
  color:#F36F39;
  background: #FFF;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.booking-sidebar #get_a_code{
  border:1px solid #F36F39;
  color:#fff;
  background: #F36F39;
  position: relative;
  float: right;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.booking-sidebar .success-msg{padding:5px;color:#222;display: none;border:4px solid green;}
.booking-sidebar .success-msg p{color:#F36F39;font-size: 12px;}
.booking-sidebar .males , .booking-sidebar .females{margin-top:5px;margin-bottom: 5px;}
.booking-sidebar .tnc a{margin-bottom:12px;color:#555;font-size:13px;display: block;}
.booking-sidebar .tnc a:hover{color:#F36F39;}


/*.sidebar-right .calendar.fixed{position:fixed;top:50px;right:80px;}*/
.sidebar-right.sticky {
    padding: 0 60px;
    position: fixed;
    right: 45px;
    top: 50px;

}

#fullImageModal .modal-header{padding: 8px;}

#fullImageModal .modal-body{padding:0;}

#fullImageModal .modal-body img{width:100%;}

#fullImageModal .modal-body a i{font-size: 25px;color:#fff;}

#fullImageModal .modal-body .right-btn{color:#fff;position: absolute;top:45%;right:10px;}

#fullImageModal .modal-body .left-btn{color:#fff;position: absolute;top:45%;left:10px;}

/********* DESCRIPTION PAGE CONTENT ENDS HERE **********/

/********* BOOKING PAGE **********/

.booking {
    background: #222 none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding-bottom: 15px;
    padding-top: 50px;
}
.booking .rating {
    color: #f36f38;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: -10px;
}

.res-description{
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  color:#fff;
  top:0px;
  background: rgba(0,0,0,.7);
}

.res-description .details, .res-description .details1{list-style-type: none;padding-left: 0;}

.res-description .details li, .res-description .details1 li{display: inline-block;margin-right: 15px;}

.res-description .opening-hours{
  color:#fff;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.res-description .rating img{width:15px;margin-right: 2px;}

.res-description .opening-hours:hover{
  color: #F36F39;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.des-tabs .opening-hours{
  color:#444;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.des-tabs .opening-hours:hover{
  color: #F36F39;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
}

.res-description h1{margin-top: 7px;margin-bottom: 5px;font-size: 22px;}
.res-description .details{margin-bottom: 5px;}
.res-description ul , .res-description h1{margin-left: 8%;}

.booking-cat{background: #222;padding-bottom: 20px;}
.booking-cat ul{
  padding-left:0;
  list-style-type:none;
  background: hsl(0,0%,94%);
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid hsl(0,0%,91%);
  box-shadow: 3px 5px 5px #666;
}

.booking-cat ul li{
  padding:10px 20px;
  color:#f36f38;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
}

.booking-cat ul li:first-child{font-family: "quick-bold";}

.booking-cat ul li a{color:#555;}
.booking-cat .highlight{
  font-family: "quick-bold";
  padding:10px 0;font-size: 16px;
  border: 1px solid hsl(0,0%,91%);
  background: hsl(0,0%,94%);
  padding-left: 15px;
}

.veg , .non-veg{width:10px;margin: -3px 5px 0 0;}

.booking-cat .combos{
  margin-top: 10px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid hsl(0,0%,91%);
  box-shadow: 3px 5px 5px #666;
}

.booking-cat #combo_name{
  margin-bottom: 5px;
  color:#222;
  font-weight:bold;
  font-size: 16px;
}

.combos .width70{float:left;width:70%;}
.combos .width30{float:left;width:30%;text-align: right;}
.combos .combo-details{font-size:12px;color:#555;}
.combos .panel-heading h3{margin-top:0;margin-bottom: 0;}
.combos .combo-price{font-size:16px;font-weight: 600;margin: 0;}
.combos .combo-price del{font-size:14px;color:#999;}
.combos .panel-footer{padding-top:5px;padding-bottom:5px;}
.combos .panel-body{border-color:transparent;padding-top: 5px;padding-bottom: 5px;}
.combos .panel{border-bottom: 0;margin-bottom: 0px;}

.booking-cat .delivery-time{
  background: #fff;
  margin-top: 10px;
  padding:10px;
  border-radius: 4px;
  border: 1px solid hsl(0,0%,91%);
  box-shadow: 3px 5px 5px #666;
  display: inline-block;
}

.sidebar-right.sticky .delivery-time{
  margin-top: 70px;
}

.booking-cat .delivery-time p{
  color:#555;
  font-family: "quick-bold";
  margin-bottom: 0;
}

.booking-cat .delivery-time p input{
  width:48%;
  margin:1%;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.booking-cat .delivery-time p:last-child{font-size:40px;}


.cart #add_item{
  margin-top:0;
  margin-right:0;
  width:20px;
  height:20px;
  line-height: 0;
  font-size:14px;
}

#add_item{
  border-radius: 50%;
  width:25px;
  height: 25px;
  font-size: 17px;
  line-height: 1;
  padding: 0;
  box-shadow: 2px 3px 3px #ccc;
  -moz-box-shadow: 2px 3px 3px #ccc;
  -webkit-box-shadow: 2px 3px 3px #ccc;
}


.cart #remove_item{
  margin-top:0;
  width:20px;
  height:20px;
  line-height: 0;
  font-size:14px;
}

#remove_item{
  border-radius: 50%;
  width:25px;
  height: 25px;
  font-size: 17px;
  line-height: 1;
  padding: 0;
  box-shadow: 2px 3px 3px #ccc;
  -moz-box-shadow: 2px 3px 3px #ccc;
  -webkit-box-shadow: 2px 3px 3px #ccc;
}


.cart_item{
  width:15px;
  text-align:center;
  border:none;
  background: transparent;
  margin-top: -5px;
}


.booking-cat .cart{
  background: #fff;
  padding:10px 15px;
  box-shadow: 3px 5px 5px #666;
  border-radius: 4px;
  margin-top: 20px;
  color:#555;
}

.checkout .cart{
  background: #fff;
  padding:10px 15px;
  box-shadow: 3px 5px 5px #666;
  border-radius: 4px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.cart .delete-item{
  margin-left: 5px;
  font-size: 15px;
  cursor:pointer;
  color:#666;
}

.cart .delete-item:hover{
  color:red;
}

.booking-cat .pricing{font-size: 12px;margin-top:15px;}

.booking-cat .pricing p{margin-bottom: 3px;}

.sidebar-right{padding-left:0 !important;}

.sidebar-left{padding-right:0 !important;}

.checkout-btn{position: relative;bottom: -10px;left: 0;width: 100%;border-radius: 0;}

/********* BOOKING PAGE CONTENT ENDS HERE **********/

/******** CHECKOUT PAGE CSS **********/

.checkout{background: #222;}

.checkout button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px 18px;
    width: 100%;
    margin-bottom: 12px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.checkout button.accordion.active, .checkout button.accordion:hover {
    background-color: #5cb85c;
    color:#fff;
}

.checkout div.panel {
    display: block;
    background-color: #f2f2f2;
    border: 1px solid #444;
    padding: 15px 40px;
}


.checkout div.panel h4.sub-total{margin-top: 5px;}
.checkout div.panel hr{height:2px;background: #ccc;}


.checkout .btn-circle{border-radius: 50%;width: 25px;height: 25px;border-color: transparent;}
.checkout .btn-circle:focus{box-shadow: 0;border: 0;border-color: transparent;}
.checkout .qty-input{
  width:25px;
  background: trasparent;
  border: 0;
  box-shadow: 0;
  text-align: center;
}

/********* CHECKOUT PAGE CSS ENDS HERE *********/
.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard{z-index: 9999 !important;}

/*********** BOOK A TABLE CSS ************/

.book-a-table{background: #222;}
.book-a-table .res-description {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background: hsl(0,0%,95%);
    margin-top: 85px;
    margin-bottom: 20px;
    border-radius: 4px;
    position: static;
}

.book-a-table .pre-booking-form{
  background: hsl(0,0%,95%);
  color:#222;
  padding: 15px;
  border-radius: 4px;
}

/*********** PRE_BOOK_REVIEW ************/

.pre-book-review{padding-top:120px;background: #222;padding-bottom:50px;}
.pre-book-review .review-block{color:#fff;border-radius: 4px;background: #fff;color:#222;padding:5px 25px 15px 25px;}
.pre-book-review .review-block h4, .pre-book-review .review-block h3{margin-top:10px;margin-bottom: 5px;}
.pre-book-review .review-block .width33 p{font-size:13px;}
.pre-book-review .review-block hr{border-color:#ccc;}
.pre-book-thankyou{background: #222;padding-top:120px;padding-bottom:50px;}
.pre-book-thankyou .thanks-block{
  background: #fff;
  color:#555;
  display: block;
  overflow:hidden;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #555;
  -moz-box-shadow: 2px 2px 3px #555;
  -webkit-box-shadow: 2px 2px 3px #555;
}

.pre-book-thankyou .thanks-block .thanks-head{
  display: -webkit-box;
  display: flex;
  background: #eefce5;
}
.pre-book-thankyou .thanks-block .thanks-head img{width:100%;margin-top: 20px;}
.pre-book-thankyou .thanks-block .thanks-head .green{color:green;}
.pre-book-thankyou .thanks-block .details{padding-top: 20px;padding-bottom: 20px;overflow: hidden;}
/*********** PRE_BOOK_REVIEW CSS ENDS HERE ************/


/*********** FIXED BOOKING TABLE FOR MOBILE ************/

.fixed-book{position: fixed;bottom: -2px;width: 100%;background: rgba(243,109,56,.9);color:#fff;padding: 10px;z-index: 10;}

.fixed-book ul{margin-left: 0;padding-left: 0;list-style-type: none;margin-bottom: 0;}

.fixed-book ul li{display: inline-block;width: 49.5%;text-align: center;}

.fixed-book ul li:first-child{border-right: 2px solid #fff;}

.fixed-book ul li a{color:#fff;font-size:14px; }

.pre-order-tab{
  background: #fff;
  position: fixed;
  height: 58vh;
  width: 100vw;
  bottom:-100vh;
  left: 0;
  z-index: 24;
  overflow-x: hidden;
  overflow-y: auto;
  padding:0px 0px 50px 0px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.pre-order-tab svg {
    position: absolute;
    color: #F37137;
    top: 9px;
    left: 22px;
    width: 15px;
    height: 17px;
    z-index: 10;
}

.pre-order-tab.show{
  bottom:0;
  bottom: 36px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.pre-order-tab .book-header{background:#f36d38;color:#fff;margin-bottom: 20px; }

.pre-order-tab .book-header a {
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 32px;
    top: 10px;
    width: 50px;
    text-align: right;
    height: 30px;
}

.pre-order-tab input{padding-left: 28px; margin-bottom: 15px;}

.pre-order-tab select{padding-left: 25px; margin-bottom: 15px;}

.pre-order-tab button{
  background: #f36d38;
  color: #fff;
  border: 1px solid #f36d38;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}


.book-table-tab{
  background: #fff;
  position: fixed;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  bottom:-100vh;
  left: 0;
  z-index: 24;
  color:#333;
  padding:0px 0px 50px 0px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.book-table-tab svg {
    position: absolute;
    color: #F37137;
    top: 9px;
    left: 22px;
    width: 15px;
    height: 17px;
    z-index: 10;
}

.book-table-tab.show{
  bottom:0;
  bottom: 38px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.book-table-tab .book-header{background:#f36d38;color:#fff;margin-bottom: 20px; }

.book-table-tab .book-header a {
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 32px;
    top: 10px;
    width: 50px;
    text-align: right;
    height: 30px;
}

.book-table-tab input{padding-left: 28px; margin-bottom: 15px;}

.book-table-tab select{padding-left: 25px; margin-bottom: 15px;}

.book-table-tab button{margin-bottom: 15px;}

.book-table-tab .deal-list {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #999;
    cursor: pointer;
}

.book-table-tab .panel {
    margin-bottom: 0;
    border-color: #fff;
    width: 100%;
}

.book-table-tab .panel .panel-body {
    padding: 4px 8px;
    background: hsl(0,0%,95%);
}

.book-table-tab p {
    color: #555;
    margin-bottom: 5px;
    font-size: 12px;
}

.book-table-tab .but {
    background: #F37137;
    color: #fff;
    border: 1px solid transparent;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 4px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
}

.book-table-tab .deal-list.selected {
    border:2px solid green;
}



.eta-tab{
  background: #fff;
  position: fixed;
  height: 250px;
  width: 100vw;
  bottom:-100vh;
  left: 0;
  z-index: 24;
  overflow-x: hidden;
  overflow-y: auto;
  padding:0px 0px 50px 0px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.eta-tab svg {
    position: absolute;
    color: #F37137;
    top: 9px;
    left: 22px;
    width: 15px;
    height: 17px;
    z-index: 10;
}

.eta-tab.show{
  bottom:0;
  bottom: 36px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.eta-tab .book-header{background:#f36d38;color:#fff;margin-bottom: 20px; }

.eta-tab .book-header a {
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 32px;
    top: 10px;
    width: 50px;
    text-align: right;
    height: 30px;
}

.eta-tab input{width:100%;}

.eta-tab select{width:100% !important;top:0 !important;}

.eta-tab button{
  background: #f36d38;
  color: #fff;
  border: 1px solid #f36d38;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}






.cart-tab{
  background: #fff;
  position: fixed;
  height: 450px;
  width: 100vw;
  bottom:-100vh;
  left: 0;
  z-index: 24;
  overflow-x: hidden;
  overflow-y: auto;
  padding:0px 0px 50px 0px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.cart-tab svg {
    position: absolute;
    color: #F37137;
    top: 9px;
    left: 22px;
    width: 15px;
    height: 17px;
    z-index: 10;
}

.cart-tab .cart #add_item{
  margin-top:0;
  margin-right:0;
  width:30px;
  height:30px;
  line-height: 0;
  font-size:14px;
}
.cart-tab .cart #remove_item{
  margin-top:0;
  width:30px;
  height:30px;
  line-height: 0;
  font-size:14px;
}

.cart-tab.show{
  bottom:0;
  bottom: 36px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}

.cart-tab .book-header{background:#f36d38;color:#fff;margin-bottom: 20px; }

.cart-tab .book-header a {
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 32px;
    top: 10px;
    width: 50px;
    text-align: right;
    height: 30px;
}

.cart-tab .cart{color:#555;}

.cart-tab .cart .fixed{height:300px;overflow-y: auto;overflow-x: hidden;}

.cart-tab select{padding-left: 25px; margin-bottom: 15px;}

.cart-tab button{
  background: #f36d38;
  color: #fff;
  border: 1px solid #f36d38;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -ms-transition: all .4s;
}



/*********** FIXED BOOKING TABLE FOR MOBILE CSS ENDS HERE ************/

#myModal{margin-top: 30px;}

#myModal .modal-header{padding: 10px 20px;background: #000;color:#fff;text-align: center;}

#myModal .modal-footer{
    background: hsl(0,0%,70%);
    padding: 10px 20px;
}

#myModal .modal-footer button{
    border: 0;
    background: transparent;
    padding: 0;
    color:#fff;
}


/******** MERCHANT REGISTRATION PAGE CSS *********/

.new-merchant-form{background: #fff;padding: 30px;overflow: hidden;}

.new-merchant-form input[type="text"]{
  background: transparent;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #f47d31;
  border-radius: 0;
  padding-left:0;
  padding-right: 0; 
  color:#555;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.new-merchant-form select{
  background: transparent;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #f47d31;
  border-radius: 0;
  color:#555;
  padding-left:0;
  padding-right: 0;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.new-merchant-form .focus{margin-bottom: 15px;}

.new-merchant-form .focus label{color:#999;font-weight: 500;}

.new-merchant-form .focus label a{color:#f47d31;}

.new-merchant-form .focus input:focus{
  border-bottom: 2px solid #f47d31; 
  box-shadow: none;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

/******** MERCHANT REGISTRATION PAGE CSS ENDS HERE *********/


/********** CSS FOR SAFARI **********/

.browser-safari .booking-sidebar p select {
  -webkit-appearance: none;
  text-indent: 25px;
  height:30px !important;
  padding-left:0 !important;
}

.browser-safari .pre-order-tab select{text-indent: 25px; margin-bottom: 15px;padding-left:0;}

.browser-safari .book-table-tab select{text-indent: 25px; margin-bottom: 15px;padding-left:0;}

.browser-safari div.datepicker.datepicker-dropdown.dropdown-menu{
  z-index: 1060 !important;
}

.browser-safari #etaBookingTime{-webkit-appearance:none;}
/********** CSS FOR SAFARI ENDS HERE ***********/


























































/************* MEDIQA QUERIES ***************/

@media(max-width:1280px){
  .sidebar-right.sticky {
      position: fixed;
      top: 50px;
      right: 47px;
      padding: 0 20px;
  }
  .searchbar {
    margin-top:5px;
  }
}

@media(max-width:1024px){
  .hovereffect2:hover .name1 {
    left: 33%;
}

.sticky .nav-main li a {
    padding: 15px 5px;
}

.hovereffect3:hover .name1 {
    left: 29%;
}
.hovereffect5 .ehh{
    left: 23%;
}

 .hovereffect7 .ehh, .hovereffect6 .ehh {
     left: 21%;
 }

 .hovereffect6:hover .name1 {
    left: 27%;
}

.sidebar-right.sticky {
    right: 40px;
    padding: 0 10px;
}

.booking-cat .delivery-time p:last-child {
    font-size: 30px;
}
.sidebar-right.sticky {
    right: 22px;
}

.des-tabs .menu-tabs > li > a {
    padding: 15px 25px;
}

}

@media(max-width:992px){

body{font-size: 13px;}

.site-logo {
    width: 60%;
}
.slider{margin-top:40px;}
.des-tabs .menu-tabs > li > a {
    font-size: 12px;
    padding: 10px 15px;
}
.sidebar-right.sticky {
    right: 87px;
    padding: 0 45px;
}
#reviews .reviews .rate {
    right: 20px;
}
#reviews .reviews .media .media-left img {
    height: 60px;
    width: 60px;
}
#reviews .reviews .media .media-left p {
    font-size: 10px;
}

}

@media(max-width:991px){
.searchbar {
    margin-top: 4px;
}
.site-logo {
    width: 100%;
}
.nav-main {
    margin-top: 10px;
}

}

@media(max-width:768px){

.slider {
  margin-top: 0px;
}

#menu img {
    height: 140px;
}
.pre-order {
  margin-top: 17px;
}
.width33{width:49%;}
.pre-book-thankyou p{font-size: 12px;}
.pre-book-thankyou h3{font-size: 20px;}
.pre-book-thankyou h4{font-size: 16px;}
body a , body p body li , body{font-size:13px;}

.site-logo {
    width: 65%;
}

.grid img {
  height: 240px;
}

.icons ul {
    margin-left: 5%;
    padding: 15px;
    width: 90%;
}

.locationpopup{
  padding:30px 0;
}

.location-feild{height:40px;}
.locationpopup ul{padding-left:0px;list-style-type:none;margin-top:3%;}
.locationpopup ul li{display:inline-block;margin-bottom: 15px;}
.locationpopup ul li a{padding:6px 0px;margin:0 10px;}
.locationpopup h2{color:#555;margin-bottom:5%;font-size:25px;}
.locationpopup h3{color:#555;font-weight:600;margin-top:3%;font-size:20px;}
.close-location{font-size:25px;float:right;color:#888;cursor:pointer;}
.locationpopup img{width:120px;margin-top:1%;}
.list-card:hover{
  margin-top: 0;
}

.des-tabs .menu-tabs > li > a {
    padding: 7px 15px;
    font-size: 11px;
}

}

@media(max-width:767px){

.sidebar-right{padding-left:auto !important;}
.sidebar-left{padding-right:15px !important;}

div#restralisting {
    margin-top: auto;
}

.list-card-body{
  height: auto;
}

.list-card-footer button {
    padding: 5px 10px;
    font-size: 13px;
}

#reviews .btn-hover{float: none;}

.des-tabs #menu img {
    height: 190px;
    margin-bottom: 10px;
  }

#overview ul li {
    padding: 10px 10px;
}

.width33{width:90%;}

.description-page .footer {
    margin-bottom: 36px;
}

.des-body {
    margin-top: -85px;
}

.site-logo {
    width: 60%;
}

.loc-popup{margin-bottom: 25px;}

body a , body p body li , body{font-size:12px;}
.translucent {
    font-size: 20px;
    margin-top: 5%;
    padding: 10px;
}

.icons ul li p {
    font-size: 10px;
}

.icons ul li img {
    width: 45%;
}

.footer-content p {
    font-size: 16px;
}
.banner {
    height: 300px;
}

.banner1 {
    height: 300px;
}


.toggle-link {
    font-size: 14px;
    padding: 6px 15px;
}

.eta {
  font-size: 12px;
}

.deal {
  font-size: 12px;
}

.form-row{padding-right:10%;padding-left:10%;}

.subscribe-dialog{
  width:160px;
  bottom:-135px;
}

.wrapper a, .wrapper a:visited, .wrapper a:hover, .wrapper a:active {
    font-size: 15px;
}


.grid .name{
  font-size: 30px;
  top:15%;
}

.hovereffect .overlay{
  bottom:50px;
  width: 96%;
}

.grid img {
  width:100%;
  -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%);
  -moz-filter: brightness(50%);
  height:250px;
  overflow:hidden;
}
.flash-deals-link.show {
    right: 273px !important;
}
.flash-deals {
    right: -300px;
    width: 300px;
}
.flash-deals .media-left img {
    height: 96px;
}
.flash-deals .media-body button {
    top: 64%;
}
.flash-deals-link {
    width: 75px;
    right: -21px;
    bottom: 23%;
}


.flash-deals .media {
    margin-bottom: 10px;
}
.pad-xs-40{padding:0 15px;}
.filter .content p input{width:50px;height:22px;margin-top:-2px;}
.search-heading span {
    font-size: 23px;
}

.searchbar {
    background-position: 5px 4px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border: 1.5px solid #ccc;
    font-size: 12px;
    margin-top: 7px;
    padding: 3px 10px 3px 30px;
    margin-bottom:7px;
}

#filters_link {
    font-size: 14px;
    position: relative;
    top:10px;
}

.slider .carousel-inner .item{height:275px;}

.slider {
    margin-top: auto;
}

.des-tabs .menu-tabs > li > a {
    padding: 7px 10px;
    font-size: 11px;
}

.des-body .panel-tabs > li.active {
    border-top:0;
    border-right: 2px solid #f36e39;
}

.des-body h1{font-size:25px;}
.des-body h2{font-size:22px;}
.des-body h3{font-size:20px;}
.des-body h4{font-size:17px;}
.des-body h5{font-size:15px;}
.des-body , .des-body p {font-size:11px;}
.des-tabs .count {
    top: 35px;
}

#reviews .review-btn {
    background: #f36e39 none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
    float: right;
    padding: 6px 20px;
    transition: all 0.4s ease 0s;
    position: relative;
    top: -30px;
}

.des-body #reviews .rating {
    font-size: 14px;
}

.booking-cat ul li{
  padding:5px 12px;
  color:#f36f38;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.booking {
    padding-top: 80px;
}

.searchbar {
    background-position: 5px 5px;
    font-size: 14px;
    margin-top: 8px;
    padding: 2px 10px 2px 35px;
    width: 100%;
}
.sidebar-right{padding-left:30px;padding-right: 30px}
.sidebar-left{padding-right: 30px;padding-left:30px;}
.sidebar-right .calendar {
  margin-top: 0;
}

.checkout div.panel {
    padding: 15px 15px;
}

}

@media(max-width:500px){

  .hovereffect .overlay {
    bottom: 50px;
    width: 90%;
}

  
.datepicker{
    position: absolute;
    left: 10% !important;
    width: 80%;
}

.datepicker-dropdown:after{border:0 !important;box-shadow: none !important;}

.datepicker table{
    width: 100%;
}

.datepicker .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 1px;
}

  .pre-order-tab{
    height: 40vh;
  }

  .des-tabs #menu img {
    height: 180px;
    margin-bottom: 10px;
  }

	.count_home {
	    height: 185px;
	}

	.overlay .deal{
		padding:12.5px;
	}

  .site-logo{width:100%;}
  .nav-main-xs {
    margin-top: 5%;
  }

  .icons ul li p {
    display:none;
  }

  .icons ul li {
    display: inline-block;
    width: 17%;
  }

  .icons ul li img {
    width: 65%;
  }

  .banner {
      height: 300px;
  }

  .banner1 {
      height: 300px;
  }

  .ribbon {
     right: 19px; top: 9px;
  }
  .ribbon span {
     font-size: 13px;
     top: 19px; right: -21px;
  }
  .eta {
    font-size: 12px;
}
.deal {
    font-size: 12px;
}

.form-row{padding-right:inherit;padding-left:inherit;}

.flash-deals{
  right:-100vw;
  width:100vw;
}

#reviews .reviews .media .media-left img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#reviews .reviews .media .media-left p{font-size: 9px;}

.booking .rating {
    font-size: 18px;
    margin-top: -5px;
}


.booking-sidebar{padding:0 30px !important;}

.booking-sidebar .calendar {
    margin-top: 0px;
}

}


@media(max-width:375px){
.banner {
    height: 260px;
}

.banner1 {
    height: 230px;
}

.des-tabs #menu img {
    height: 170px;
    margin-bottom: 10px;
}

.filters{
  width:100vw;
  left:-100vw;
}
.filters .filter{padding:0 20px;padding-top: 50px;}
.main-header.sticky .nav-main-xs {
    margin-top: 10px;
}

.happy-hrs-form input {
    border-radius: 2px;
    font-size: 11px;
}

.happy-hrs-form select {
    border-radius: 2px;
    font-size: 11px;
}

.happy-hrs-form button img {
    margin-left: 0px;
}

}

@media(max-width:320px){

  .des-tabs #menu img {
    height: 150px;
    margin-bottom: 10px;
  }

  .locationpopup img{width:90px;margin-top:1%;}

  .des-body {
    margin-top: -101px;
  }

  .loc-popup{padding-left: 0 !important;}

  .des-tabs .menu-tabs > li > a {
    padding: 5px 4px;
  }

  .toggle-link {
    font-size: 12px;
  }
  .site-logo {
    margin-top: 4px;
  }

  .wrapper a, .wrapper a:visited, .wrapper a:hover, .wrapper a:active {
    font-size: 12px;
  }

  .fixed-book ul li{width: 49%;}
}


@media(max-height:700px){
  #etaModal .modal-dialog{margin-top: 10%;}
}


/*SEARCH FOR FILTER IN RESTRO LISTING*/



/* search box*/

#search-form_3 {
background: #e1e1e1; /* Fallback color for non-css3 browsers */
width: 100%;
margin: 20px auto;

/* Gradients */
background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);

/* Rounded Corners */
border-radius: 17px;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;

/* Shadows */
box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

/*** TEXT BOX ***/
.search_3{
background: #fafafa; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
background: -moz-linear-gradient( center top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
border: 0;
border-bottom: 1px solid #fff;
border-right: 1px solid rgba(255,255,255,.8);
font-size: 16px;
margin: 4px;
padding: 5px;
width: 67%;

/* Rounded Corners */
border-radius: 17px;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;

/* Shadows */
box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
-webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
-moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}

/*** USER IS FOCUSED ON TEXT BOX ***/
.search_3:focus{
outline: none;
background: #fff; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(235,235,235)));
background: -moz-linear-gradient( center top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
}

/*** SEARCH BUTTON ***/
.submit_3{
background: #44921f;/* Fallback color for non-css3 browsers */
/* Gradients */
background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(79,188,32)), color-stop(0.15, rgb(73,157,34)), color-stop(0.88, rgb(62,135,28)), color-stop(1, rgb(49,114,21)));
background: #F36E39;
border: 0;
color: #eee;
cursor: pointer;
float: right;
font: 16px 'Raleway', sans-serif;
font-weight: bold;
height: 30px;
margin: 4px 4px 0;
text-shadow: 0 -1px 0 rgba(0,0,0,.3);
width: 84px;
outline: none;

/* Rounded Corners */
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;

/* Shadows */
box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
-moz-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.2);
-webkit-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
}
/*** SEARCH BUTTON HOVER ***/
.submit_3:hover {
background: #4ea923; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
background: #F36E60;
}
.submit_3:active {
background: #4ea923; /* Fallback color for non-css3 browsers */

/* Gradients */
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
background: -moz-linear-gradient( center bottom, rgb(89,222,27) 0%, rgb(83,179,38) 15%, rgb(66,143,27) 80%, rgb(54,120,22) 100%);
}


.drop {
    color: #555 !important;
}

.menu-item i{font-size:30px;color:#000;}

#dealsModal p {font-family:"quick-reg"}
.checkoutbox .delete_item {
    position: relative;
    right: -19px;
    top: 4px;

}
.voucherinfobox .voucher_wrap{margin-top:10px;}
.apply_voucher{width:100px !important;}

#frm-delivery {
    display: none;
}




/************ CSS FOR SAFARI ************/


/*
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome 
    .flex-direction-nav-featured a{
        margin-top: 4%;
    } 

    /* Safari only override 
    ::i-block-chrome,.flex-direction-nav-featured a{
        margin-top: 5%;
    } 
}
*/

/*
@media screen and (-webkit-min-device-pixel-ratio:0) { 


    ::i-block-chrome,body select{
      -webkit-appearance: none;
    }

    ::i-block-chrome,.booking-sidebar p select {
      -webkit-appearance: none;
      padding-left: 25px !important;
  }
}

@supports (-webkit-appearance:none) 
{
    .booking-sidebar p select {
      -webkit-appearance: none;
      text-indent: 25px;
      height:30px !important;
  }
}



@media screen and (-webkit-min-device-pixel-ratio:0) { 


    ::i-block-chrome,body select{
      -webkit-appearance: none;
    }

    ::i-block-chrome,.booking-sidebar p select {
      -webkit-appearance: none;
      text-indent: 25px;
      height:30px !important;
  }
}
*/

