
html,body{
font-family: "Open Sans","Roboto","sans-serif";
font-weight: 300;
margin:0;
padding:0;
height:100%;
font-size:14px;
/*background:#fff;*/
color:#474d5d;
}

.btn-default, .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default{
    background-color: #000;
    border-color: #000;
    color: #fff;
}



#home_cat {
    background-color: #F47E31;
    border-radius: 5px;
    color: #EDEDED;
    font-size: 115%;
    margin-top: 2%;
    padding: 1px 7px;
}

#home_cat_happy
{
	background-color: #F47E31;
    border-radius: 5px;
    color: #EDEDED;
    font-size: 110%;
    margin-top: 2%;
    padding: 1px 7px;
}
.add_to_cart{
    background-color: #e2e3e3;
    border: 1px solid;
    color: #000;
    text-align: center;
    width: 28%;
}


.fafaficon
{
	padding: 5%;
	font-size: 500%;
	color: #F47E31;
}

.range_slider{
	margin-left: 30%;
}

.qty_minus
{
    background: #E2E3E3 none repeat scroll 0 0;
    border-radius: 50%;
    border-width: 0;
    box-shadow: 0 1px 3px 0 #fff;
    color: #424242;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    height: 21px;
    text-align: center;
    width: 20px;	
}




/*{
	border-radius: 50%;
	background-color: #000;
	border: 2px solid #fff;
	color: #fff;
	font-size: 65%;
} */

.qty_plus
{
    background: #E2E3E3 none repeat scroll 0 0;
    border-radius: 50%;
    border-width: 0;
    box-shadow: 0 1px 3px 0 #fff;
    color: #424242;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    height: 21px;
    text-align: center;
    width: 20px;
    margin-right: 5%;
}






/*{
	border-radius: 50%;
	background-color: #000;
	border: 2px solid #fff;
	color: #fff;
	font-size: 65%;
} */

#item_qty
{
	background-color: #000;
	width: 30px;
	height: 25px;
	color: #e2e3e3;
}

.inputgrp1
{
	display:none;
}

span.deals{
	position: absolute;
	top: -200px;
	left: 15px;
	font-size: 150%;
	color: #fff;
}

.search-btn {
    height: 34px;
}

#search-btn {
    height: 34px;
}

#search-logo {
    background-color: #e1742b;
    border-color: #e1742b;
    color: #ffffff;
    height: 60px;
    width: 100px;
}

#table_list tbody tr{
	background-color: #000;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #000;
}  

.View
{
	margin-top:-40px;
	margin-left: 7%;
	margin-right: 7%;
	border-color: #898989;
	opacity: 0.7;
}

#milestone
{
	width: 10%;
	left:10px;
	top: 152px;
	position: absolute;
	
}

#slider12c .slider-selection {
	background: yellow;
}

section.range-slider
  {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
  }

section.range-slider input 
{
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb 
{
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb 
{
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track 
{
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track 
{
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer 
  {
	border: 0;
  }


input[type=range]::-ms-track {
width: 100%;
height: 4px;
background-color: #D8D8D8;
background-image: repeating-linear-gradient(90deg, #D8D8D8, #D8D8D8 60px, rgb(255, 255, 255) 61px);
border-radius: 2px;
border-top: 35px solid #f0f0f0;
border-bottom: 20px solid #f0f0f0;
}

#cat
{
	margin-top: -50px;
}

body p.small,
.search-input-wraps #restaurant_name,
.cod-text,
#section-browse #restuarant-list  p.cod-text
{
	font-size:13px;
}

#section-browse #restuarant-list  p.cod-text
{
	text-align:center;
}

.box-grey.rounded.merchant-opening-hours
{
	background:  none repeat scroll 0 0;
    border: 0 solid #c9c7c7;
    margin-top: -67px;
    padding: 15px 0px;
}
.img-thumbnail.setheight > p
{
	margin-left:15px
}

.carousel-control.right
{
	background-image:none;
	font-size: 500%;
	left:auto;
	right: 0;
	margin-top: -5%;
	margin-right: 1%;
	width: auto;
}

.carousel-control.left
{
	background-image:none;
	font-size: 500%;
	left:auto;
	right:auto;
	width: auto;
	margin-top: -5%;
	margin-left: -1%;
}

.heart 
{
	background: url(/assets/images/web_heart_animation.png);
	background-position: left;
	background-repeat: no-repeat;
	height: 37px;
	width: 50px;
	cursor: pointer;
	position: absolute;
	left:300px;
	background-size:1450px; //actual background size 2900px
}
.heart:hover
{
	background-position: right; //displaying last heart frame 
}
.likeCount
{
	margin-top: 26px;
	margin-left: 321px;
	font-size: 17px;
	color: #999999
}

.spacer40 > span {
    margin-left: 20px;
}

@-webkit-keyframes heartBlast
{
0% {background-position: left;}
100% {background-position: right;}
}

@keyframes heartBlast
{
0% {background-position: left;}
100% {background-position: right;}
}

.viewdj{
	margin-top: -25px;
}

.heartAnimation
{
-webkit-animation-name: heartBlast;
animation-name: heartBlast;
-webkit-animation-duration: .8s;
animation-duration: .8s;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-timing-function: steps(28);
animation-timing-function: steps(28);
background-position: right;
}


img{
max-width:100%;
height:auto;
}

.border{
border:0px solid red;
}

.top-menu-wrapper{
z-index:99;
border:0px solid blue;
padding-top:1%;
padding-bottom:2px;
position:absolute;
width:100%;
top:0;
max-width: 1328px;
transition:all .3s ease-in;
}


#cat > h1{
	color:#f47e31;
	font-size: 30px;
	font-weight: bold;
}


.top-menu-wrapper img.logo{
	max-width: 175px;
    min-width: 150px;
    margin-top: 3%;
    height: 55px;
    padding-left: 10%;
}

.top-menu-wrapper .col-b{
margin-top:20px;
}

.bottom{
	margin-top:300px;
}
#menu a{
color:#fff;
font-family:"Montserrat",sans-serif;
/*font-family:"Lato","Open Sans",arial;*/
font-size:14px;
font-weight:normal;
display:block;
padding:5px 15px;;
}

#menu li.active a,
#menu a:hover,
.section-footer a:hover,
.mobile-search-menu a.selected i,
.progress-dot a.selected i
{
color:#f75d34;
}

#menu .logout-menu a:hover,
#menu .green-button a:hover,
#menu li.active.green-button a
{
color:#fff;
}

#menu a:hover,
.section-footer a:hover
{
/*opacity:0.5;*/
text-decoration:none;
}

#menu{
display:table;
border:0px solid red;
margin:0;
padding:0;
float:right;
}

#menu li{
display:table-cell;
border:0px solid blue;
margin:0;
padding:0;
}

.col-sm-4{
	 width: 33.3333%;
	 padding-left: 3%;
}

#preorder {
    background: #F47E31;
    border: 0 solid #F47E31;
    border-radius: 15px;
    color: #fff;
	font-size: 12px;
}

#book_table{
	background: #F47E31;
    border: 0 solid #F47E31;
    border-radius: 15px;
    color: #fff;
	font-size: 12px;
}

#preorder:hover{
	background: #5CB85C;
	transition: all 0.5s;
}

#book_table:hover{
	background: #5CB85C;
	transition: all 0.5s;
}

.section-feature-resto a:hover {
    color: #F47E31;
}

.yhumbnail .caption .col-xs-4 .col-sm-6 .col-md-6 .col-lg-6 .text-left span:hover{
	color: #f47e31;
}

.h1,h1{
	
	margin-bottom:10px;
	}


.h2,.h3,h2,h3{
	margin-top:15px;
	margin-bottom:10px;
	}


.img-thumbnail{
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    max-width: 100%;
	height: 400px;
    padding: 0px;
    transition: all 0.2s ease-in-out 0s;
	margin-block-end: 10px;
}

.img-thumbnail.setheight .rest{
	margin-left: 15px;
}

.img-responsive-popular {
    height: 200px;
    width: 100%;
}

.thumbnail a .img-responsive {
    height: 200px;
    width: 100%;
}

#message{
	left: 5%;
    position: absolute;
    top: 5%;
}

#mugs{
	float:right;
	margin-top:-25px;
	padding-right:2px;
}

.bottom-list ul li a {
    color: #4c4c4c;
    display: inline-block;
    position: relative;
}

.thumbnail .caption {
    color: #464646;
    padding: 0px;
}

.clearfix::after,
.clearfix::before,
.feed-list li::after,
.feed-list li::before {
    clear: both;
    content: "/";
    display: block;
    height: 0;
    visibility: hidden;
}

.bottom-list ul li::after {
    border-left: 1px dashed #d1d1d1;
    height: 90px;
    left: 0;
    position: absolute;
    top: 104px;
}

.bottom-list ul li.active a::after {
    background: #d57a0b none repeat scroll 0 0;
    bottom: -30px;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.bottom-list .caret {
    background: rgba(0, 0, 0, 0) url("../images/bottom-arrow.png") no-repeat scroll left top;
    bottom: -13px;
    display: none;
    height: 13px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    width: 25px;
    z-index: 99;
}

*, *::after {
    box-sizing: border-box;
}

.category-section {
    background: #ed862d none repeat scroll 0 0;
    margin-bottom: 103px;
    padding: 48px 0 50px;
}

.container {
    margin: 0 auto;
    width: 98%;
}

.category-section .menu-heading {
    margin-bottom: 55px;
}

.parallax-container{
border:0px solid red;
min-height: 55%;
width:100%;
background: rgb(0, 0, 0); 
background:url("/assets/images/banner.jpg") repeat scroll 0 -145px;
background-size: cover;
}

.parallax-container1{
border:0px solid red;
min-height:375px;   
width:100%;
background: rgb(0, 0, 0); 
background:url("/assets/images/bannerdj.jpg") repeat scroll 0 0;
background-size: cover;
}

#search-btn {
    height: 34px;
}
#search-logo {
    background-color: #e1742b;
    border-color: #e1742b;
    color: #ffffff;
    height: 34px;
    width: 100px;
}

.parallax-search,
.mobile-banner-wrap .layer
{
border:0px solid red;
min-height:300px;
width:100%;
background: rgb(0, 0, 0); 
background:rgba(0, 0, 0, 0.5);
}

.mobile-banner-wrap .layer
{
min-height:100%;
width:100%;
position:absolute;
top:0;
left:0;
z-index:1;
}

.parallax-search.parallax-menu
{
min-height:450px;
}

.search-wraps{
border:0px solid white;
padding-bottom:2.5%;
}

.search-wraps-dj{
border:0px solid white;
padding-top:10%%;
}

.search-wraps.single-search{
padding-top:220px;
}

.parallax-search .search-wraps{
	padding-top:20%;
	border:0px solid red;
}

.search-wraps h1
{
color:#fff;
font-size:56px;
font-weight:300;
font-family: 'Lato', sans-serif;
margin-left : 2%;
}

.mt0.mb5.inlineblock {
    margin-top: -10px;
}

.mt0.mb51{
	margin-top: -10px;
}

.home-search-text{
	/*margin-bottom: 3%;*/
    margin-top: 1%;
}


.sections h2,
.sections h4
{
color: #fff;
font-family: "Montserrat",sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 35px;
margin-bottom: 0px;
text-align:center;
}

.sections h4{
font-size:20px;
text-align:inherit;
margin:0;
line-height:normal;
}

.sections{
padding-top:20px;
padding-bottom:30px;
}

p,
.search-input-wraps #s,
.search-input-wraps .search-field
{
font-size:16px;
font-family:"Open Sans",sans-serif;
color: #000;
padding-left: 1%;
}

.search-wraps p,
.search-wraps p a
{
	color:#fff;
	margin-bottom:20px;
}

.search-wraps.menu-header p{
margin-bottom:8px;
}

.sub-banner-header{
padding-top:10px;
padding-bottom:10px;
color:#fff;
background:url("../images/grey-bg.png");
}

.search-input-wraps{
border-radius:10px;
padding:8px 24px;
background:#fff;
width:70%;
margin:auto;
}

.rounded{
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; 
-khtml-border-radius: 2px;
}

.rounded3{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; 
-khtml-border-radius: 3px;
}


.rounded5{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px;
}

.panel{
	background-color: #000;
}

.rounded30{
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px; 
-khtml-border-radius: 30px;
}

.search-input-wraps #s,
.search-input-wraps .search-field,
.search-input-wraps #restaurant_name
{
width:100%;
padding:1px;
color:#444;
border:none;
}

*:focus {
    outline: none;
}

.search-input-wraps button[type="submit"]
{
background:none;
border:none;
font-size: 27px;
position: absolute;
right: 5px;
top:-1px;
}

.relative{
position:relative;
}

.search-menu,
.search-menu li
{
margin:0;
padding:0;
display:table;
width:100%;
}

.search-menu li{
display:table-cell;
width:auto;
}

.search-menu li a{
display:block;
height:110px;
width:110px;
border:1px solid #f75d34;
margin:auto;
text-indent:-9999px;

-moz-border-radius: 55px; -webkit-border-radius: 55px; border-radius: 55px;
background: rgb(0, 0, 0); 
background:rgba(0, 0, 0, 0.75);
position:relative;

-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

.search-menu li a:hover,
.search-menu li a.selected
{
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
color: white;
box-shadow: inset 0 0 0 138px #040c13, 0 0 0 6px rgba(50, 50, 50, 0.75), 0 1px 2px rgba(0, 0, 0, 0.1);
border:none;
}

.search-menu li a i{
width:80px;
height:83px;
position:absolute;
left:14px;
top:10px;
display:block;
}

.search-menu a.byaddress i{
background:url("../images/byaddress.png") no-repeat center top;
}

.search-menu a.byname i{
background:url("../images/byname.png") no-repeat center top;
}

.search-menu a.bystreet i{
background:url("../images/bystreet.png") no-repeat center top;
}

.search-menu a.bycuisine i{
background:url("../images/bycuisine.png") no-repeat center top;
}

.search-menu a.byfood i{
background:url("../images/byfood.png") no-repeat center top;
}


.hide,
.forms-search,
.review-input-wrap,
.credit_card_wrap,
.cc-add-wrap,
.frm-resume-signup,
.pickup-min,
.mobile-home-banner,
.logo-mobile,
.menu-nav-mobile,
.cart-mobile-handle,
.mobile-search-menu.mytable,
.progress-dot.mytable,
.menu-top-menu,
.mobile-banner,
#mobile-filter-handle,
.modal-close-btn,
#mobile-viewmap-handle,
.menu-cat .items-row a.mbile,
.menu-2 a.mbile,
.menu-3 a.mbile,
#getapp-wrap2,
#mobile-social-login,
.view-receipt-mobile,
.view-food-item-wrap .to-show,
.back-map-address
{
display:none;
}

.single-search .forms-search{
display:block;
}

.subscribe-row{
width:50%;
float:right;
}

.text-grey{
color:#6b6c6c;
}

.text-flat{
background:#6b6c6c;
border:none;
color:#fff;
}

.orange-button{
background:#f75d34;
border:1px solid #f75d34;
color:#fff;
padding: 5px 8px;
}

.black-button{
background:#101316;
border:1px solid #101316;
color:#fff;
padding: 5px 8px;
}

.orange-text{
color:#f75d34;
}
.green-text{
color:#00b279;
}

.section-address-book .table > thead > tr > th,
.section-credit-card .table > thead > tr > th,
.section-order-history .table > thead > tr > th
{
border-bottom:1px solid #00b279;
}

.orange-button.medium,
.green-button.medium,
.black-button.medium
{
/*padding: 5px 25px;*/
padding: 8px 25px;
}

a.orange-button:hover,
button.orange-button:hover,
input.orange-button:hover,
input.orange-button:focus,
a.orange-button:focus,
#menu .logout-menu a:hover
{
text-decoration:none;
color:#fff;
background:#ff4e41;
border:1px solid #ff4e41;
}


.green-button{
/*background:#26d469 ;*/
background:#00b279;
border:1px solid #00b279;
color:#fff;
padding: 5px 8px;
}

.green-button.inline,
.orange-button.inline,
.inline-block,
.black-button.inline
{
display:inline-block;
}

.section-label .green-button.inline{
font-size:19px;
}

a.green-button:hover,
button.green-button:hover,
input.green-button:hover,
input.green-button:focus,
a.green-button:focus,
#menu .green-button a:hover
{
text-decoration:none;
color:#fff;
background:#23c562;
border:1px solid #23c562;
}

#menu .logout-menu a:hover,
#menu .green-button a:hover
{
border:none;
}


a.black-button:hover,
button.black-button:hover,
input.black-button:hover,
input.black-button:focus,
a.black-button:focus
{
text-decoration:none;
color:#fff;
background:#252a2c;
border:1px solid #252a2c;
}


.disabled-button{
background:#ccc;
border:1px solid #ccc;
}

.block,
#mobile-menu li a
{
display:block;
}
.upper{
text-transform:uppercase;
}

.subscribe-inner{
/*border:1px solid #6b6c6c;*/
position:relative;
display:table;
background:#6b6c6c;
}

.subscribe-inner input[type="text"],
.subscribe-inner button[type="submit"]
{
display:table-cell;
padding:5px 8px;
}

.subscribe-row .text-grey{
padding:5px 8px;
}

.text-right{
text-align:right;
}

.section-how-it-works,
.section-search-results,
.section-grey,
.section-cuisine
{
background:#000;
}

.sections.section-how-it-works
{
background:url("../images/section1-bg.png") bottom center #ededed repeat-x;
}

.section-grey2{
background:#000;
}

.section-feature-resto{
background:#000;
}

.section-how-it-works .steps{
border:0px solid red;
max-width:136px;
max-height:124px;
min-height:124px;
margin:auto;
display:block;
}

.center,
.section-how-it-works h3,
.section-how-it-works p,
.mobile-search-menu,
.progress-dot,
#mobile-menu li a,
.result-merchant p.cod-text
{
text-align:center;
}

.section-how-it-works h3{
background:#f75d34;
color:#fff;
padding:5px;
display:inline-table;
text-align:center;
padding:5px 25px;
border-bottom-left-radius: 10px;
}

.section-how-it-works p,
.section-feature-resto p,
.section-footer p,
.filter-box li,
.box-grey p,
.box-grey,
.result-merchant .inner p,
.view-food-item-wrap .section-label a.section-label-a span
{
	color: #fff;
	font-size:14px;
}

.view-food-item-wrap p{
font-size:13px;
}

.modal-sm {
    width: 405px;
}


.section-feature-resto p{
margin:2px;
}

.logo-small,
.logo-medium
{
display: block;
margin: auto;
max-width: 100px;
min-width:100px;
}

.result-merchant .logo-small{
max-height:100px;
min-height:100px;
}

.marker-wrap .logo-small{
max-width: 80px !important;
}

.logo-medium{
max-width: 125px;
min-width:125px;
}
.result-merchant .logo-medium{
min-height:125px;
max-height:125px;
}

.section-feature-resto ul,
ul.services-type
{
display:table;
}

.section-feature-resto ul li,
ul.services-type li
{
display:table-cell;
}

.section-feature-resto ul li,
ul.services-type li
{
padding:0px 5px;
font-size:13px;
}

ul.services-type li i{
font-size:15px;
}

.green-color,
.section-feature-resto a:hover h4,
.clear-cart,
.section-checkout .i-big.green-color
{
color:#fff;
}

.menu-1.box-grey,
.top-line-green,
.box-grey.top-line-green
{
border-top:1px solid ;
}

.section-feature-resto a
{
color:#fff;
}

.section-feature-resto a:hover,
.category a:hover,
.category a:active,
.category a:focus,
a:active,
a:focus,
.menu-cat a:hover,
.section-label a.section-label-a:hover,
ul#tabs li.noclick a:hover,
ul#tabs li.nounderline a:hover
{
text-decoration:none;
}

.border-light{
border-top:1px solid #ededed;
border-color:#ccc;
padding:9px 0;
}

.section-feature-resto h2,
.section-cuisine .sub-text
{
margin-bottom:30px;
}

.section-cuisine .sub-text{
/*color:#319db5;*/
}

.section-cuisine{
/*background:#2b2e33 ;
color:#a3a8ad;*/
color:inherit;
}

.section-cuisine a{
/*color:#a3a8ad;*/
color:#fff;
}

.white-text,
.order-progress-bar a,
.section-subcribe h2
{
color:#fff;
}

.nopad > p {
    color: #fff;
}

.nopad .sub-text{
	color: #fff;
}

.indent-5percent{
text-indent:5%;
}

.section-browse-resto{
background:#fff;
}

.section-subcribe,
.section-footer
{
/*background:#363749;*/
/*background:#111518;*/
background:url("../images/grey-bg.png");
color:#acacab;
}

/*.section-subcribe{
border-bottom:1px solid #bcbbbb;
}*/

.section-subcribe .green-button,
.section-subcribe .email
{
font-size: 18px;
padding: 13px 18px;
font-family:"Montserrat",sans-serif;
}

.section-subcribe .email{
border:1px solid #999;
}

img.img-cuisine{
display:block;
margin:50px auto auto;
}

.section-footer h3{
margin-bottom: 10px;
margin-top: 20px;
color:#acacab;
font-weight:600;
font-size:15px;
font-family:"Montserrat",sans-serif;
}

.order-progress-bar{
background:#1a2533;
padding-bottom: 10px;
padding-top: 10px;
border-bottom:1px solid #060606;
border-top:1px solid #060606;
text-align:center;
position:relative;
}

.order-progress-bar a:hover,
.order-progress-bar a.active,
.filter-box a:hover
{
text-decoration:none;
color:#f75d34;
font-weight:600;
}

.hover-orange,
.filter-box a:hover{
font-weight:normal;
text-decoration:none;
color:#f75d34;
}

.order-progress-bar a.active.current{
border-bottom:1px solid #f75d34;
}

.order-progress-bar a.inactive{
pointer-events:none;
}

.filter-wrap,
.box-grey
{
background:#000;
/*border:1px solid #EDEDED;*/
border:1px solid #c9c7c7;
padding:15px 20px;
margin-top:25px;
}

.menu-right-content .box-grey,
.menu-2 .box-grey,
.no-marin-top
{
margin-top:0;
}

.bold{
font-weight:bold;
}

.filter-box,
.box-grey
{
margin-bottom:20px;
}

.filter-box a,
.menu-cat a,
.section-label a.section-label-a
{
color:#fff;
display:block;
padding-top:8px;
padding-bottom:8px;
position:relative;
}


.filter-box a span,
.menu-cat a span,
.section-label a.section-label-a span
{
background:#000;
position:relative;
z-index:2;
padding:0 8px 0 0;
color: #F75D34;
}

.filter-box a b,
.menu-cat a b,
.section-label a.section-label-a b
{
border-bottom:1px solid #ddd;
width:100%;
display:block;
position:absolute;
top:50%;
left:0;
z-index:1;
}
.filter-box .icheckbox_minimal{
margin-right:2px;
}

/*.filter-box li,
.box-grey p,
.box-grey
{
font-size:14px;
}*/

.section-subcribe h2{
margin:0 0 25px;
}

.sort-wrap{
}

.sort-results .btn{
line-height:1.12857;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; 
-khtml-border-radius: 2px;
}

.sort-wrap .orange-button{
font-size: 19px;
width: 40px;
float:right;
}

.sort-wrap .orange-button.inactive
{
background:#c9c7c7;
border:1px solid #c9c7c7;
}

.result-merchant{
margin-top:25px;
}

.result-merchant .infinite-item,
.result-merchant .infinite-item-newest
{
margin-bottom:13px;
}

.result-merchant h2{
color:#f75d34;
}

.result-merchant .inner
{
border:1px solid #fff;
padding:10px 0;
padding-bottom:20px;
background:#000;
color:#fff;
font-size:14px;
text-align:center;
position:relative;
}

.result-merchant #search-listview .inner{
min-height:545px;
}
 
.result-merchant .inner.list-view,
.result-merchant .inner.list-view h2,
#browse-list .inner
{
text-align:left;
}

.result-merchant .inner.list-view h2,
.menu-header .mytable p
{
margin:0;
}

.result-merchant .inner.list-view .mytable{
width:auto;
margin:0;
}
.result-merchant .inner.list-view .mytable .mycol{
border:none;
width:auto;
padding-right:10px;
}

.result-merchant .inner.list-view p.cuisine{
margin-bottom:10px;
font-size:13px;
font-weight:bold;
}

.result-merchant .inner.list-view a.orange-button{
	margin-top: 3%;
	display:inline-block;
}

.result-merchant .inner.list-view .concat-text{
padding-left:0;
padding-right:0;
}

/*.result-merchant .inner p{
font-size:14px;
}*/

.nomargin,
.result-merchant .inner .mytable p,
.result-merchant .inner.list-view p,
.box-grey p
{
margin:0;
}

.section-checkout .box-grey p{
margin:10px 0;
}

.mytable{
display:table;
width:100%;
}

.mytable.menu{
display:flex;
width:100%;
}

.mytable .mycol{
display:inline;
}

.result-merchant .mytable{
margin-top:25px;
}

.concat-text
{
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display:block;
}

.result-merchant .concat-text{
padding-left:8px;
padding-right:8px;
}

.result-merchant .mytable .mycol{
border:1px solid #c9c7c7;
padding:2px;
width:50%;
}

.result-merchant .mytable .mycol.a{
border-left:0;
border-right:0;
}

.result-merchant .mytable .mycol.b{
border:0;
}   

.result-merchant a.orange-button,
.section-profile ul#tabs li i,
ul#tabs li a i,
ul#tabs li i
{
font-size:15px;
}

.top5{
margin-top:5px;
}
.top8{
margin-top:8px;
}
.top10,
.result-merchant .inner.list-view .services-type,
.menu-2 .top10
{
margin-top:10px;
}
.top15,
.result-merchant .inner p.top15
{
margin-top:15px;
}
.top25{
margin-top:25px;
}

.top30,
.item-order-wrap{
margin-top:30px;
}

.padtop15{
padding-top:15px;
}

.menu-2 .box-grey .top10,
.bottom10
{
margin-bottom:10px;
}

.bottom15,
.box-grey p.bold,

.delivery_asap_wrap
{
margin-bottom:15px;
}
.bottom20{
margin-bottom:20px;
}
.bottom30{
margin-bottom:30px;
}

.mr10px{
margin-right:10px;
}

.result-merchant ul.services-type{
margin:0 auto 25px;
}

.infinite-more-link {
visibility: hidden; 
}

.search-result-loader{
max-width:200px;
margin:20px auto auto;
display:none;  
}

.search-result-loader i{
background:url("../images/Coffee-cup.gif") no-repeat center right;
height:64px;
width:64px;
display:block;
margin:auto;
}

.search-result-loader p{
font-size: 12px;
margin-top: 5px;
text-align:center;
}

/***  SPONSORED RIBBON **/
.ribbon {
  position: absolute;
  left: -5px; top: -7px;
  z-index: 1;
  overflow: hidden;
  width: 100px; height: 100px;
  text-align: right;
}
.ribbon span {
font-family:arial;
  font-size: 11px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 120px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -28px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
/*** END  SPONSORED RIBBON **/

/*************  OFFER  **************/
.ribbon-offer {
  position: absolute;
  right: -5px; top: -7px;
  z-index: 1;
  overflow: hidden;
  width: 100px; height: 100px;
  text-align: right;
}
.ribbon-offer span {
font-family:arial;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 120px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -28px;
}
.ribbon-offer span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon-offer span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
/*************  END OFFER  **************/

/************  START TABS *************/
.tabs-wrapper,
.connected-wrap
{
border:1px solid #c9c7c7;
}

ul#tabs {
list-style-type: none;
padding: 0;
text-align: center;
background:#000;
border-bottom:1px solid #c9c7c7;
}

ul#tabs li {
display: inline-block;
padding: 5px 15px;
margin-bottom: 4px;
cursor: pointer;
color: #fff;
}

ul#tabs li a,
ul#mobile-menu li a
{
color:#fff;
}

#tabs li a:hover{

color: #f75d34;
text-decoration:none;
}

ul#tabs li:hover {
border-bottom:2px solid #f75d34;
color: #f75d34;

}

ul#tabs li.active {
border-bottom: 2px solid #f75d34;
color : #f75d34; 
}
 
ul#tabs li.active i{
color:#f75d34;
}

ul#tab {
list-style-type: none;
margin: 0;
padding:10px 8px;
}

ul#tab li {
display: none;
}
ul#tab li.active {
display: block;
}
/************  END TABS *************/


.search-map-results{
min-height:350px;
max-height:350px;
display:none;
border:1px solid #c9c7c7;
background:#c9c7c7;
}
.marker-wrap{
padding:8px 15px;
}
.marker-wrap h3{
margin:0;
margin-bottom:3px;
}

.filter-box .search-input-wraps{
border:0px solid #c9c7c7;
padding:5px 8px;
width:100%;
}

.filter-box .search-input-wraps button[type="submit"]{
font-size:20px;
}

.menu-header .mytable{
/*width: 410px;*/
width: 520px;
margin:auto;
}

.menu-header.search-wraps h1{
margin-bottom: 5px;
margin-top: 10px;
}
.star-float{
position:absolute;
top:0;
left:10px;
width:43px;
height:69px;
background:url("../images/star.png");
}

.menu-right-content .box-grey{
padding:0;
}
.menu-right-content .box-grey .inner{
padding:15px 20px;
background-color: #000;
}
.menu-right-content .box-grey .inner.line-top,
.line-top
{
border-top:1px solid #fff;
}

.line-bottom{
border-bottom:1px solid #c9c7c7;
}

.order-icon{
display:block;
width:56px;
height:55px;
position:absolute;
top:8px;
left:10px;
}
.your-order-icon{
background:url("../images/your-order.png");
}
.delivery-option-icon{
background:url("../images/delivery-option.png");
}

.delivery-option select,
.delivery-option input[type="text"],
#voucher_code,
#redeem_points
{
display:block;
margin:auto;
margin-bottom:8px;
}

.grey-fields{
background:#000;
border:1px solid #c9c7c7;
color:#fff;
padding:8px 10px;
width:auto;
}
.delivery-option .grey-fields,
#voucher_code,
#redeem_points
{
width:65%;
}

.category a{
display:block;
border:1px solid #c9c7c7;
border-bottom:0;
color:#fff;
padding:10px 8px;
font-size:14px;

}

.category a:hover,
.items-row .row.even
{
background:#000;
}

.category a i{
position:absolute;
right:10px;
top:40%;
}

.category a span{
color:#F75D34;
font-size:13px;
font-weight: 600;
}

.category a:last-child,
.items-row .row.even
{
border-bottom:1px solid #F75D34;
}

.category a:last-child,
.items-row .row.odd
{
border-bottom:1px solid #F75D34;
}

.items-row{
padding-left:15px;
color: #fff;
}

.items-row .row{
padding-top:10px;
padding-bottom:10px;
}


.menu-cat .items-row a{
margin:0;
padding:0;
font-size:30px;
position:absolute;
top:-10px;
left:0;
display:block;
}

.menu-cat .items-row a:hover i
{
color:#474d5d;
}

.clear-cart{
display:none;
font-size: 12px;
position: absolute;
right: 10px;
top: 5px;
}

.voucher_wrap,
.item-order-wrap
{
margin-bottom: 20px;
margin-top:30px;
}

.voucher_wrap a,
.redeem-wrap .orange-button 
{
display:table;
margin:auto;
}

.view-food-item-wrap{
max-width:600px;
min-height:200px;
padding:10px 20px;
background:#FFFFFF;
font-size:13px;
}

.enter-address-wrap{
max-width:500px;
padding:10px 20px;
background:#FFFFFF;
font-size:13px;
}

.food-pic{
max-height:100px;
min-height:100px;
max-width:100px;
min-width:100px;
background-size:cover !important;
background-repeat:no-repeat !important;
}
.food-thumbnail{
max-height:169px;
min-height:169px;
max-width:100%;
min-width:100%;
background-size:cover !important;
background-repeat:no-repeat !important;
background-position:center center !important;
}

.food-thumbnail img{
/*min-width:200px;
max-width:200px;
max-height:183px;
min-height:183px;
max-width:100%;
height:auto;
display:block;
margin:auto;*/
}
.food-description,
.merchant-review-wrap .read-more
{
max-height:40px;
min-height:40px;
overflow:hidden;
}

.merchant-review-wrap .read-more{
display:block;
}

.dummy-link{
min-height:16px;
}

.line-tru{
text-decoration:line-through;
}

.qty,
#notes,
.addon_qty,
.grey-inputs
{
border: 0px solid #fff;
padding: 5px;
width: 100%;
text-align:center;
}
#notes,
.grey-inputs
{
	background-color: #000; 
	color: #fff;
	text-align: left;
	border: 1px solid #fff;
}

.addon_qty{
padding:3px;
}
.upper-text{
text-transform:uppercase;
}
.food-item-actions .green-button,
.food-item-actions .orange-button
{
width:100%;
}

.menu-2 .box-grey{
padding:5px 8px;
}

.menu-left-content .section-label a.section-label-a span{
background:#eff2f5;
}

.menu-3.box-grey p.bold{
margin-bottom:5px;
}
.menu-3 a.menu-item{
color:inherit;
}

.menu-3 a.menu-item .row,
.merchant-review-wrap .row-review,
.merchant-opening-hours .row,
.section-receipt .receipt-wrap .row,
.sub-item-rows .row.top10,
#mobile-menu li a
{
border-top:1px solid #c9c7c7;
padding-top:6px;
padding-bottom:6px;
}

.sub-item-rows{
overflow:hidden;
}

.sub-item-rows .row.top10{
/*margin-left:15px;
margin-right:15px;*/
}

.menu-3 a.menu-item:last-child .row,
.merchant-opening-hours .row:last-child,
.section-receipt .receipt-wrap .row:last-child,
.sub-item-rows .row.top10:last-child
{
border-bottom:1px solid #c9c7c7;
}

.menu-3 a.menu-item:hover .row,
.merchant-review-wrap .row-review:hover,
.merchant-opening-hours .row:hover,
.section-receipt .summary-wrap .row:hover,
.sub-item-rows .row.top10:hover,
#mobile-menu li a:hover
{
background:#000;
}

.center{
text-align:center;
}

.text-left,
.sections h2.text-left
{
text-align:left;
}

.sections h2.text-left{
text-transform:capitalize;
}

.merchant-review-wrap i,
.i-big
{
font-size:50px;
}
.i-big-extra{
font-size:100px;
}

.section-checkout .i-big{
font-size:30px;
position:absolute;
top:0;
z-index:3;
color:#fff;
}

.section-checkout .section-label a.section-label-a span{
padding-left:30px;
}

#merchant-map{
border:1px solid #c9c7c7;
border-top:2px solid #00B279;
max-width:100%;
min-height:400px;
max-height:400px;
}

#photos {
line-height: 0;   
-webkit-column-count: 5;
-webkit-column-gap:   0px;
-moz-column-count:    5;
-moz-column-gap:      0px;
column-count:         5;
column-gap:           0px;  
}

#photos img {
width: 100% !important;
height: auto !important;
}

.text-strike{
position:relative;
}
.text-strike .sline{
width:100%;
display:block;
position:absolute;
z-index:1;
border-bottom:2px solid #474d5d;
top:45%;
}
.text-strike span{
position:relative;
z-index:2;
background:#fafafa ;
padding:8px 15px;
}

.full-width,
.section-checkout .grey-fields
{
width:100%;
}

a.rounded-circle{
width: 30px; height: 30px; background: none; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
border:1px solid #f75d34;
display:block;
margin:auto;
}

a.rounded-circle i
{
display: block !important;
margin: auto;
position: relative !important;
text-align: center;
}

.rounded-circle i{
color:#f75d34 !important;
}

a.rounded-circle:hover i{
color:#ff4e41 !important;
}

.auto-margin{
margin:auto;
}

.capcha-wrapper .g-recaptcha,
.capcha-wrapper #kapcha-1
{
display:table;
margin:auto;
}

p.text-small,
.text-small,
.help-block.form-error,
.search-wraps p.text-small
{
font-size:12px;
}
.help-block.form-error{
margin-bottom:1px;
margin-top:2px;
}

.section-receipt .inner,
.section-mobile-verification .inner,
.section-orangeform .inner
{
margin: auto;
max-width: 550px;
}
.section-receipt .inner h1,
.section-orangeform .inner h1
{
background: #f75d34;
color: #fff;
font-family: "Lato",sans-serif;
font-size: 20px;
font-weight: bold;
margin: 0;
padding: 8px 20px;
}
.section-receipt .inner .box-grey,
.section-orangeform .inner .box-grey
{
margin-top:0;
border-top:none;
}

.section-receipt .receipt-wrap.order-list-wrap{
padding:0;
margin-top: -20px;
}
.section-receipt .summary-wrap .a{
width:220px;
}
.indent20{
padding-left:20px;
}
.payment-provider-wrap img.logo-small{
min-width:70px;
max-width:70px;
}
.payment-provider-wrap .checki{
position:absolute;
top:30%;
left:0;
}
.contact-banner p{
margin-bottom:5px;
}
.contact-banner span i{
font-size: 20px;
left: -24px;
position: absolute;
top: auto;
}

.sections.section-contact{
min-height:500px;
position:relative;
padding:0;
}

#contact-map{
position:absolute;
width:100%;
height:100%;
z-index:1;
}

.section-contact .container-map{
z-index:999;
position:absolute;
top:10%;
left:0;
width:100%;
}

.section-contact .container-map .inner{
max-width:800px;
min-width:800px;
margin:auto;
display:block;
}

.container-map .dim,
.container-map .black
{
min-height:400px;
max-height:400px;
}

.container-map .black{
background:#060606;
border:1px solid #f75d34;
border-left:0;
}

.container-map .dim{
background: rgb(6, 6, 6); 
background:rgba(6, 6, 6, 0.6);
border:1px solid #f75d34;
}

.container-map h2,
.container-map p
{
color:#eff2f5;
font-family:"Lato",sans-serif;
}

.container-map p{
line-height:normal;
}

.section-browse ul#tab{
padding-top:0;
}

.section-browse ul#tab ul,
.section-browse ul#tab ul li
{
display:inherit;
}

.section-browse .result-merchant .mytable,
.section-browse .result-merchant h2
{
margin:0;
}

.section-browse .result-merchant .mytable .mycol{
border:none;
}

.section-browse .result-merchant .inner,
.section-browse .result-merchant h2
{
text-align:left;
}

.section-browse .result-merchant .concat-text{
padding-left:0;
}

.browse-list-map{
min-height:320px;
}

.section-browse .result-merchant .inner{
padding:0;
}
.section-browse ul#tab .result-merchant ul.services-type,
.section-browse ul#tab .result-merchant ul.services-type li
{
display:block;
text-align:center;
}

.single-pricing{
background:#2B2E33;
color:#fff;
border:1px solid #D6D6D6;
position:relative;
text-align:center;
}

.pricing-head,
.single-pricing-footer
{
padding-top:30px;
padding-bottom:20px;
font-family:Raleway, sans-serif;
}
.pricing-head h4{
color:#fff;
font-family:inherit;
font-size:18px;
}
.pricing-head h3{
font-size:32px;
color:#319db5;
margin:15px 0 0;
font-weight:600;
}

ul.package-features li{
padding-top:9px;
padding-bottom:9px;
color:#D4D4D4;
border-top:1px solid rgba(255, 255, 255, 0.0470588);
}

ul.package-features li.last{
border-bottom:1px solid rgba(255, 255, 255, 0.0470588);
}

.single-pricing-footer a{
display:inline-block;
color:#D4D4D4;
border:1px solid #D4D4D4;
padding:8px 20px;
}

.single-pricing-footer a:hover{
color:#fff;
border:1px solid #fff;
text-decoration:none;
}

.chosen-choices .search-field .default{
height: inherit !important;
}

.strike-price{
text-decoration:line-through;
color:#FF0000;
}

.section-notfound h1{
color:#f75d34;
font-size: 150px;
font-weight: bold;
margin-top:50px;
}

.section-address-book table i,
table.otable i
{
font-size:20px;
}

.section-order-history .mytable .mycol{
vertical-align:middle;
}

.section-order-history .order-headline{
background:#ebf5f7 ;
border:1px solid #d3e2e5;
color:#646464;
padding-top:5px;
padding-bottom:5px;
}
.intl-tel-input{
width:100% !important;
}

.avatar-wrap{
display:block;
margin:auto;
max-width:50%;
}

.avatar-section .line-top{
padding-top:8px;
padding-bottom:8px;
margin-top:15px;
margin-bottom:15px;
}

.connected-wrap .col-1{
width:25%;
background:#00b279;
color:#fff;
vertical-align:middle;
}

.connected-wrap .fb .col-1{
background:#3b5999;
}
.connected-wrap .google .col-1{
background:#dc4a38;
}

.connected-wrap .col-2{
padding-left:15px;
padding-right:15px;
vertical-align:middle;
padding-top:8px;
padding-bottom:8px;
}


/**** 
FIXED AUTO COMPLETE
**/
.search-input-wraps .easy-autocomplete{
width:100% !important;
}

.easy-autocomplete input {
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #555;
    float: none;
    padding: 6px 12px;
}



.search-input-wraps .easy-autocomplete input[type="text"]
{
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

/********END FIXED AUTO COMPLETE **********/

.full-map-wrapper{
position:relative;
min-height:500px;
border:1px solid #c9c7c7;
}

.full-map{
background: #fff;
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 9999;
}

#full-map{
background: #fff;
height: 100%;
left: 0;
position:absolute;
top: 0;
width: 100%;
z-index: 1;
}
.view-full-map{
position: absolute;
right: 10px;
top: 10px;
z-index: 99;
}

.social-wrap{
text-align:center;
}

.section-footer .social-wrap a{
color:#919eaf;
font-size:25px;
}

.section-footer .social-wrap a:hover i.ion-social-googleplus
{
/*color:#657487;*/
color:#d34836;
}
.section-footer .social-wrap a:hover i.ion-social-twitter
{
color:#00aced;
}
.section-footer .social-wrap a:hover i.ion-social-facebook
{
color:#3b5998;
}
.section-footer .social-wrap a:hover i.ion-social-instagram
{
color:#b68066;
}
.section-footer .social-wrap a:hover i.ion-social-youtube-outline
{
color:#ee1c1b;
}

.section-footer a{
color:#fff;
}
.footer-divider
{
margin-top:30px;
}

.menu-nav-mobile,
.cart-mobile-handle
{
float:right;
position:relative;
height:100%;
padding-top:2%;
}

.menu-nav-mobile a,
.cart-mobile-handle a
{
color:#fff;
font-size:30px;
display:block;
}

.mobile-search-menu.mytable,
.progress-dot.mytable
{
width:300px;
margin:auto;
}

.mobile-search-menu a i,
.progress-dot a i
{
color:#ccc;
font-size:25px;
text-decoration:none;
display:block;
}

ul#mobile-menu{
padding:0;
margin:0;
}

ul#mobile-menu li a:hover
{
text-decoration:none;
}

.section-menu ul#tabs li i{
font-size:30px;
display:none;
}

.mobile-cart-parent
{
background:#ff;
padding:3px;
}

.mobile-cart-wrapper
{
float:right;
width:138px;
height:42px;
background:url("../images/cart.png") no-repeat;
position:relative;
}

.mobile-cart-wrapper span
{
color: #fff;
font-size: 15px;
position: absolute;
right: 12px;
top: 10px;
}
.mobile-cart-parent a:hover .mobile-cart-wrapper
{
background:url("../images/cart-hover.png") no-repeat;
}

#mobile-header{
background:#f75d34;
color:#fff;
padding:8px;
}
#mobile-header h1{
margin:0;
padding:0;
font-size:17px;
}
#mobile-header i{
color:#fff;
font-size:25px;
}

#mobile-app-sections{
padding-top:30px;
}

.container-medium {
max-width:800px;
margin:auto;
}

#mobile-app-sections h2{
margin-top:22%;
}

#mobile-app-sections h3{
margin:auto auto 25px;
}

#getapp-wrap2{
margin:auto;
width:300px;
}

#getapp-wrap2 img{
max-width:130px;
}

#getapp-wrap2 .mycol{
width:150px;
}

.language-options .btn{
width:auto;
}

.merchant-review-wrap img.img-circle{
height:60px;
width:60px;
}

.cookie-wrap,
.language-selection-wrap
{
display:none;
/*background:#262626;*/
background: rgb(38, 38, 38); 
background:rgba(38, 38, 38, 0.95);
color:#fff;
position:fixed;
top:0;
width:100%;
padding:5px 30px;
z-index:999;
}

.cookie-wrap p,
.cookie-wrap a.orange-button,
.cookie-wrap a.green-button
{
font-size:14px;
}
.cookie-wrap a.orange-button,
.cookie-wrap a.green-button
{
padding:8px 10px;
display:inline-table;
}
.cookie-close,
.language-selection-close
{
color:#fff;
font-size:23px;
position:absolute;
right:15%;
z-index:1;
}

.language-selection-close{
top:15%;
}

.print-receipt{
font-size:25px;
}

.ui-datepicker-month,
.ui-datepicker-year
{
color:#000;
}

.fb-button.orange-button,
.google-button.orange-button
{
margin:auto;
display:table;
position:relative;
width:260px;
text-align:center;
}

.fb-button.orange-button{
background:#3b579a;
border:1px solid #3b579a;
}
.fb-button.orange-button:hover{
background:#3254a5;
border:1px solid #3254a5;
}

.fb-button.orange-button i,
.google-button.orange-button i
{
font-size:30px;
position:absolute;
top:15%;
left:10%;
}
.login-or{
text-align:center;
width:260px;
margin:auto;
margin-top:10px;
margin-bottom:15px;
}
.login-or:before{
content:"-";
}
.login-or:after{
content:"-";
}
.language-selection-wrap{
/*display:block;*/
background:#000;
}
.language-selection-wrap .container-medium{
min-height:150px;
background:url("../images/bg_country.jpg") left center no-repeat;
}

.lang-list{
margin-top:10px;
}
.highlight{
background:#555555;
color:#fff;
padding:3px 10px;
margin-left:-10px;
display:table;
}

.highlight:hover,
.language-selection-wrap ul li a:hover,
.language-selection-wrap ul li a.highlight
{
text-decoration:none;
color:#fff;
}
.language-selection-wrap ul li{
margin-bottom:5px;
}
.language-selection-wrap ul li a{
color:#f75d34;
display:block;
text-transform:capitalize;
}
.language-selection-wrap .head{
color:#666;
font-weight:600;
}

.language-selection-wrap .orange-button{
display:table;
padding:3px 6px;
}

li.language-selection a img{
margin-right:5px;
margin-top:-1px;
}
li.language-selection a{
text-transform:capitalize;
}


/*****************
   VERSOION 3.1 
******************/
.section-feature-resto .merchantopentag span{
display:table;
margin:auto;
margin-top:4px;
}
.social-wrap .mycol{
width:16%;
}
 
/* fixed parallax issue on chrome */
#parallax-wrap p:last-child{
margin-bottom:0;
}

.section-cuisine a span{
padding-left:5px;
}
.ui-timepicker-container{
z-index:99999 !important;
}

/*fixed feature resto*/
.section-feature-resto .col-md-5{
min-height:170px;
}

.result-merchant ul li.active{
display:none;
}



/** FAX PRINT FIXED **/

#fax_page .input-block .label{
color: #474d5d;
font-weight: normal;
text-align: left;
}

#fax_page .item-row .a, #fax_page .item-row .b{
line-height:normal;
height:auto;
}

#fax_page .input-block .label, 
#fax_page .input-block .value, 
#fax_page .summary-wrap .a, 
#fax_page .item-row .d, 
#fax_page .summary-wrap .b{
height:auto;
}


.bottomlist a:hover {
	text-decoration:none;
}
.category-click {text-align:center;font-size:20px;}
.category-click i{font-size:20px}
.bottomlist a {

    color: #4c4c4c;
    display: inline-block;
    position: relative;
}

.bottomlist a:hover{
	color:#d57a0b;
}
.bottomlist{
    float: left;
    font-family: Lato;
    font-size: 30px;
    line-height: 1.2;
    min-height: 120px;
    padding: 0px 0px 0px;
    position: relative;
    width: 180px;
	height: 80px;
}
	
.bottomlist:hover {
    float: left;
    font-family: Lato;
    font-size: 30px;
    line-height: 1.2;
    min-height: 120px;
    padding: 30px 25px 16px;
    position: relative;
    width: 240px;
	height: 150px;
}

.img1 {
	width: 180px;
	height: 150px;
	background: url("/assets/images/PUB.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}

.img2 {
	width: 180px;
	height: 150px;
	background: url("/assets/images/com-1.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}

.img3 {
	width: 180px;
	height: 150px;
	background: url("/assets/images/deals-1.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}

.img4 {
	width: 180px;
	height: 150px;
	background: url("/assets/images/E-H-H-1.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}

.img5 {
	width: 180px;
	height: 150px;
	background: url("/assets/images/D.J-1.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}

.img6 {
	width: 180px;
	height: 150px;
	background: url("/assets/images/book.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}


.img2:hover {
	width: 180px;
	height: 150px;
	background: url("/assets/images/com-2.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}
.img3:hover {
	width: 180px;
	height: 150px;
	background: url("/assets/images/deals-2.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}
.img4:hover {
	width: 180px;
	height: 150px;
	background: url("/assets/images/E-H-H-2.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}
.img5:hover {
	width: 180px;
	height: 150px;
	background: url("/assets/images/D.J-2.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}
.img6:hover {
	width: 180px;
	height: 150px;
	background: url("/assets/images/book-table-2.png") no-repeat scroll 70px 40px;
	background-size:65px 100px;
}

.bottomlist i {
    display: block;
    font-size: 60px;
    height: 72px;
    margin: 0 auto;
}
.spacer40{height:40px;}
.bottom-tittle {
    background: #862d0c none repeat scroll 0 0;
    color: #fff;
    font-size: 32px;
    line-height: 1.3;
    padding: 18px 20px;
    text-align: center;
    width: 100%;
}


 .location-selection::before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #fff;
    content: "";
    left: 50%;
    margin-left: -11px;
    position: absolute;
    top: -40px;
    transition: top 0.5s ease 0s;
}

.thumbnail1 {
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
url(/assets/images/banner.jpg);
    border: 0px solid #898989;
    border-radius: 0px;
    display: inline-block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0;
    transition: border 0.2s ease-in-out 0s;
}

.thumbnail2 {
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
url(/assets/images/imagedj.jpg);
    border: 1px solid #000;
    border-radius: 0px;
    display: block;
	height: 300px;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 10%;
    transition: border 0.2s ease-in-out 0s;
}


.thumbnail {
    background-color: #000;
    border: 0px solid #898989;
    border-radius: 0px;
    display: inline-block;
	position: relative;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0;
    transition: border 0.2s ease-in-out 0s;
}


#flipdj {
    border: 0 solid #cccccc;
    border-radius: 8px;
    font-size: 22px;
    height: 25px;
    line-height: 30px;
    outline: medium none;
    padding: 0px 0px;
    width: 485px;
}

        .tt-dropdown-menu {
            width: 400px;
            margin-top: 5px;
            padding: 8px 12px;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px 8px 8px 8px;
            font-size: 18px;
            color: #111;
            background-color: #F1F1F1;
        }

#phoneNoString,.res-main-phone-reservation{}
.mb20, .mbot {
    margin-bottom: 20px;
	text-align:center;
	color: #fff;
}
.res-main-phone-reservation,.res-info-group{font-size:13px;}
.p-relative {
    position: relative;
}
.res-main-phone h2 {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}
.mb5 {
    margin-bottom: 5px;
}

.bold {
    font-weight: 700;
}
.fontsize2 {
    font-size: 14px;
}

.grey-text, .zdark {
    color: #89959b;
}
.zgreen {
    color: #099e44;
}
.caption {
	margin-bottom:10%;
}
.img-responsive.restra {
	height:200px;
	width:100%;
}
.headding { 
	font-size:20px;
	padding-left: 0;
	padding-bottom: 5px;
	padding-top: 10px;
}

.filter {
	height:60px;
}
.search_bar {
	height:60px;
}
.Search_icon {
	height:60px;
	padding:0px 30px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
.carousel-control {
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    height: 4px;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 10px;
    margin-top: -3px;
}

@media (max-width:768px) {
.img-responsive.img1{background-size: 40px 60px;}
.img-responsive.restra { height:150px;width:100%;}	
.headding { font-size:14px; font-weight:bold;}	
	
}



